<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org" th:replace="fragments/base::layout(~{::section})">
<style>
	.styled-button {
		width: 150px;
	}

	.heading {
		background: linear-gradient(45deg, #685099 0%, #595591 60%, #4E5A8B 60%, #37627C 62%, #ffad26 62%, 63%, #d77045 63%, #d77045 64%, #ffad26 64%, #ffad26 65%, #525187 65%, white 80%);
		border-left: 5px solid #FFC241;
		color: white;
		font-weight: bold;
		padding: 6px 10px 3px 10px;
	}
</style>
<section>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<div class="contaier-fluid">
		<div th:if="${session.message}">
			<div class="alert alert-primary" role="alert">
				<p th:text="${session.message}"></p>
				<script th:inline="javascript">
					setTimeout(function(){
						window.location.href ='/a2zbilling/admin/clearSessionAttribute';
					}, 500);
				</script>
			</div>
		</div>
		<div class="heading">
		<div class="row" style="background-color:rgb(84,78,130) ; color: #fff;">
			<div class="col-md-12 mt-1">
				<h1 class="text-center"><b>ADD PRODUCT</b></h1>
			</div>
		</div>
		</div >
		
		<form th:action="@{/a2zbilling/admin/product/add}" method="post" enctype="multipart/form-data"
			class="form-group">
			<div class="row pb-3" style="background-color: #f5f0f0;">

				<!--Get Parties data from database  Note ->Here Supplier means Party -->
				<div class="row ml-1 mr-1">
					<div class="input-group">
						<div class="col-md-4 mt-6 input-group">
							<label>Supplier Name :- </label>
							<select id="partiesSelect" required class="form-select form-control"
								aria-label="Default select example" name="parties">
								<option value="" disabled selected>Choose</option>
								<option th:each="party:${parties}" th:value="${party.id}" th:text="${party.name}"
									th:attr="data-mobile=${party.mobile}, data-email=${party.email}"></option>
							</select>


							<button type="button" class="btn btn-info ml-2" data-toggle="modal"
								data-target="#exampleModal">
								<i class="fa-solid fa-plus"></i>
							</button>

						</div>

						<div class="col-md-3 mt-6 input-group">
							<label>Mobile :- </label>
							<input id="mobile1" readonly type="text" class="form-control">
						</div>
						<div class="col-md-3 mt-6 input-group">
							<label>Email :- </label>
							<input id="email1" readonly type="email" class="form-control">
						</div>

						<div class="col-md-2 mt-6 input-group">
							<label>Date :- </label>
							<input name="addedDate" type="text" class="form-control" id="currentDateInput" readonly>
						</div>
					</div>
					 
				</div>
				
				<div class="col-md-4 mt-4">
					<label>Product Brand</label>
					<div class="form-group">
						<div class="input-group">
							<div class="input-group-prepend">
								<button type="button" class="btn btn-info" data-toggle="modal"
									data-target="#exampleModalBrand">
									<i class="fa-solid fa-plus"></i>
								</button>
							</div>
							<select class="form-select form-control" aria-label="Default select example"
								name="brand">
								<option value="" selected>Choose</option>
								<option th:each="brand:${brands}" th:value="${brand.id}" th:text="${brand.name}"></option>
							</select>
						</div>
					</div>	
				</div>
				
				<div class="col-md-4 mt-4">	
					<label>Select Category</label>
					<div class="form-group">
						<div class="input-group">
							<div class="input-group-prepend">
								<button type="button" class="btn btn-info" data-toggle="modal"
									data-target="#addCategoryModal">
									<i class="fa-solid fa-plus"></i>
								</button>
							</div>
							<select class="form-select form-control" aria-label="Default select example"
								name="category">
								<option value="" selected>Choose</option>
								<option th:each="category: ${categories}" th:value="${category.id}"
									th:text="${category.CategoryName}"></option>
							</select>
						</div>
					</div>
				</div>

				<div class="col-md-4 mt-4">
					<div class="form-group">
						<label>Product Name</label>
						<input type="text" required class="form-control" name="name" placeholder="Enter product name">
					</div>
				</div>
				<div class="col-md-4 mt-3">
					<div class="form-group">
						<label>Product Price</label>
						<input type="text" required class="form-control" name="price" placeholder="Enter product price">
					</div>
				</div>
				<div class="col-md-4 mt-3">
					<div class="form-group">
						<label>Product Size</label>
						<input type="text" class="form-control" name="productSize" placeholder="Enter product size">
					</div>
				</div>
				<div class="col-md-4 mt-3">
					<div class="form-group">
						<label>About Product</label>
						<input type="text" class="form-control" name="about" placeholder="Enter about product">
					</div>
				</div>
				<div class="col-md-4 mt-3">
					<label>Color</label>
					<div class="form-group">
						<select class="form-select form-control" aria-label="Default select example"
							name="productColor">
							<option value="choose" selected>Choose</option>
							<option th:each="color: ${colors}" th:value="${color.name}" th:text="${color.name}">
							</option>
						</select>
					</div>
				</div>
				<div class="col-md-12 mt-4 ">
					<div class="text-center">
						<button type="submit" class="btn btn-info text-center">Add</button>
					</div>
				</div>
			</div>
		</form>
	</div>
	
	<script>
		// !--Get parties mobile number and Email from Database-->

		$(document).ready(function () {

			// Event listener for changing the selected option in the dropdown
			$('#partiesSelect').change(function () {
				var selectedOption = $(this).find('option:selected');
				var phone = selectedOption.data('mobile');
				var email = selectedOption.data('email');

				$('#mobile1').val(phone);
				$('#email1').val(email);
			});
		});
	</script>
	<script>
		function checkStockLevels() {
			var quantity = parseInt(document.getElementById('productQuantity').value);
			var minStockQty = parseInt(document.getElementById('minStockQty').value);

			if (!isNaN(quantity) && !isNaN(minStockQty) && quantity <= minStockQty) {
				alert("Please restock the product.");
			}
		}

		$(document).ready(function () {
			// Event listener for changing the selected option in the dropdown
			$('#supplierSelect').change(function () {
				var selectedOption = $(this).find('option:selected');
				var phone = selectedOption.data('mobile');
				var email = selectedOption.data('email');

				$('#mobile1').val(phone);
				$('#email1').val(email);
			});

			// Check stock levels when quantity or minimum stock quantity changes
			$('#productQuantity, #minStockQty').on('input', checkStockLevels);

			// Set the current date
			var currentDate = new Date();
			var formattedDate = currentDate.toISOString().split('T')[0];
			document.getElementById('currentDateInput').value = formattedDate;
		});
	</script>

	<!-- this overlay is activated only when mobile menu is triggered -->
	<div class="page-content-overlay" data-action="toggle" data-class="mobile-nav-on"></div> <!-- END Page Content -->
	<!-- BEGIN Page Footer -->

	<!--Add Parties Modal -->
	<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="customerModalLabel"
		aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content">

					<!--Here Supplier means Party-->
				<div class="modal-header d-flex justify-content-center" style="background-color: #534F84;color: #fff;">
					<h1 class="modal-title" id="exampleModalLabel"><b>ADD SUPPLIER</b></h1>
				</div>

				<div class="modal-body" style="background-color: #f5f0f0;">
					<form th:action="@{/a2zbilling/admin/parties/add}" method="post" enctype="multipart/form-data"
						class="form-group">
						<div class="row pb-3">
							<div class="col-md-5 mt-4">
								<label><b>Supplier Name*</b></label>
							</div>
							<div class="col-md-7 mt-4">
								<input type="text" required class="form-control" name="name"
									placeholder="Enter party name">
							</div>

							<div class="col-md-5 mt-4">
								<label><b>Supplier Mobile*</b></label>
							</div>
							<div class="col-md-7 mt-4">
								<input type="text" id="mobile1" pattern="[0-9]{10}" required class="form-control"
									name="mobile" placeholder="Enter party mobile No">
							</div>
							<div class="col-md-5 mt-4">
								<label><b>Supplier email*</b></label>
							</div>
							<div class="col-md-7 mt-4">
								<input size="50" type="email" required class="form-control" name="email"
									placeholder="Enter party e-mail">
							</div>
							<div class="col-md-5 mt-4">
								<label><b>Billing Address*</b></label>
							</div>
							<div class="col-md-7 mt-4">
								<textarea name="billingAddress" required type="text" class="form-control"
									placeholder="Billing Address"></textarea>
							</div>

							<div class="col-md-5 mt-4">
								<label><b>Shipping Address*</b></label>
							</div>
							<div class="col-md-7 mt-4">
								<textarea name="shippingAddress" required type="text" class="form-control"
									placeholder="Shipping Address"></textarea>
							</div>
							
							<div class="col-md-5 mt-4">
								<label><b>Opening Balance*</b></label>
							</div>
							<div class="col-md-7 mt-4">
								<input name="openingBalance" type="text" class="form-control"
									placeholder="Opening Balance">
							</div>
							<div class="col-md-5 mt-4"></div>

							<div class="col-md-7 mt-4">
								<select name="payment" required class="form-control">
									<option>Choose</option>
									<option value="toPay">To Pay</option>
									<option value="toReceive">To Receive</option>
								</select>
							</div>
							<div class="col-md-5 mt-2">
								<label><b>Choose date</b></label>
							</div>
							<div class="col-md-7 mt-4">
								<input type="date" class="form-control" name="date">
							</div>

							<div class="modal-footer d-flex justify-content-end">
								<button type="submit" class="btn btn-primary">Add</button>
								<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>

	<!-- Add Category Modal -->
	<div class="modal fade" id="addCategoryModal" tabindex="-1" role="dialog" aria-labelledby="categoryModalLabel"
		aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content" style="background-color: #f5f0f0;">
				<div class="modal-header d-flex justify-content-center" style="background-color: #534F84;color: #fff;">
					<h1 class="modal-title" id="addCategoryModalLabel"><b>ADD CATEGORY</b></h1>
				</div>
				<div class="modal-body">
					<form th:action="@{/a2zbilling/admin/category/add}" method="post" enctype="multipart/form-data"
						class="form-group">
						<div class="row pb-3">
							<div class="col-md-5 mt-4">
								<label>Category Name</label>
							</div>
							<div class="col-md-7 mt-4">
								<input type="text" required class="form-control" name="categoryName"
									placeholder="Enter category name">
							</div>
							<div class="modal-footer d-flex justify-content-end">
								<button type="submit" class="btn btn-primary">Add</button>
								<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</section>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $(document).ready(function() {
        $('#businessType').change(function() {
            var selectedValue = $(this).val();
            if (selectedValue === 'registeredBusinessRegular') {
                $('#gstinLabel').show();
                $('#gstinInput').show();
            } else {
                $('#gstinLabel').hide();
                $('#gstinInput').hide();
            }
        });
    });
</script>


<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>
</body>

</html>
