<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org" th:replace="fragments/base::layout(~{::section})">

<body>
	<section>
		<script>

			function deleteContactAlert(id) {

				const swalWithBootstrapButtons = Swal.mixin({
					customClass: {
						confirmButton: 'btn btn-success m-2',
						cancelButton: 'btn btn-danger m-2'
					},
					buttonsStyling: false
				})

				swalWithBootstrapButtons.fire({
					title: 'Are you sure?',
					text: "You won't be able to revert this!",
					icon: 'warning',
					showCancelButton: true,
					confirmButtonText: 'Yes, delete it!',
					cancelButtonText: 'No, cancel!',
					reverseButtons: true
				}).then((result) => {
					if (result.isConfirmed) {


						window.location = "/a2zbilling/admin/category/delete/" + id + " ";


						swalWithBootstrapButtons.fire(
							'Category Deleted Successfully !',

						)
					} else if (
						/* Read more about handling dismissals below */
						result.dismiss === Swal.DismissReason.cancel
					) {
						swalWithBootstrapButtons.fire(
							'Cancelled',
							'Category Not deleted',
							'error'
						)
					}
				})

			}

		</script>
		<div class="contaier-fluid">
			<div class="row">
				<div class="col-md-12" style="background-color: #534F84;color: #fff;">
					<h1 class="text-center"><b>CATEGORY LIST</b></h1>
				</div>
			</div>
			<div class="row" style="background-color: #f5f0f0;">
				<div class="col-md-12 mt-3" >
					<table class="table table-bordered table-hover table-striped" style="background-color: #fff;">
						<thead style="background-color: #F3EBD6;">
							<tr>
								<th style="border: 1px solid black;" scope="col">ID</th >
								<th style="border: 1px solid black;" scope="col">Category Name</th >
								<th style="border: 1px solid black;" scope="col">Added Date</th >
								<th style="border: 1px solid black;" scope="col">Action</th >
							</tr>
						</thead >
						<tbody>
							<tr th:each="category : ${categories}">
								<th scope="row" th:text="${category.id}"></th>
								<td th:text="${category.categoryName}"></td>
								<td th:text="${category.addedDate}"></td>
								<td>
									<a th:href="@{'/a2zbilling/admin/category/update/'+ ${category.id}}"
										class="btn btn-info"><i class="fa fa-edit"></i></a>
									<a th:onclick="|deleteContactAlert(${category.id})|" class="btn btn-danger"><i
											style="background-color: Red;" class="fa-solid fa-trash"></i></a>
								</td>
							</tr>
						</tbody>
					</table>
					
					<!-- Pagination Code -->
					<div>
						<span th:text="'Page ' + ${currentPage + 1} + ' of ' + ${categories.totalPages}"></span>
					</div>
					<div>
						<a th:if="${categories.hasPrevious()}"
							th:href="@{/a2zbilling/admin/category/list(page=${currentPage - 1}, size=${categories.size})}">Previous</a>
						<a th:if="${categories.hasNext()}"
							th:href="@{/a2zbilling/admin/category/list(page=${currentPage + 1}, size=${categories.size})}">Next</a>
					</div>
					
				</div>
			</div>
		</div>
	</section>
</body>
<!-- END Body -->

<!-- Mirrored from www.gotbootstrap.com/themes/smartadmin/4.5.1/intel_marketing_dashboard.html by HTTrack Website Copier/3.x [XR&CO'2014], Wed, 05 Apr 2023 07:42:05 GMT -->

</html>