<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="fragments/base::layout(~{::section})">

<head>
	<meta charset="ISO-8859-1">
	<title>Customer list</title>
</head>

<body>
	<section>
		<script src="https://kit.fontawesome.com/0faddc1af8.js" crossorigin="anonymous"></script>
		<script>

			function deleteContactAlert(id) {

				const swalWithBootstrapButtons = Swal.mixin({
					customClass: {
						confirmButton: 'btn btn-success',
						cancelButton: 'btn btn-danger'
					},
					buttonsStyling: false
				})

				swalWithBootstrapButtons.fire({
					title: 'Are you sure?',
					text: "You won't be able to revert this!",
					icon: 'warning',
					showCancelButton: true,
					confirmButtonText: 'Yes, delete it!',
					cancelButtonText: 'No, cancel!',
					buttonsStyling: true,
					reverseButtons: true
				}).then((result) => {
					if (result.isConfirmed) {


						window.location = "/a2zbilling/admin/customer/delete/" + id + " ";


						swalWithBootstrapButtons.fire(
							'Customer Deleted Successfully !',

						)
					} else if (
						/* Read more about handling dismissals below */
						result.dismiss === Swal.DismissReason.cancel
					) {
						swalWithBootstrapButtons.fire(
							'Cancelled',
							'Customer Not deleted',
							'error'
						)
					}
				})

			}

		</script>

		<!-- Changes by Younus -->

		<div class="row">
			<div class="col-md-12" style="background-color: rgb(84,78,130);color:#fff;">
				<h1 class="text-center pt-1"><b>CUSTOMERS LIST	</b></h1>
			</div>
		</div>
		<div class="row mt-3" style="background-color: #f5f0f0;">
			<div class="col-md-12 pb-2">
				<table class="table table-bordered table-hover table-striped" style="background-color: #fff	;">
					<thead style="background-color: #F3EBD6; color: black;">
						<tr style="text-align: center;">
							<th scope="col">Customer Id</th>
							<th scope="col">Name</th>
							<th scope="col">Email</th>
							<th scope="col">Mobile</th>
							<th scope="col">Address</th>
							<th scope="col">Due Amount</th>
							<th scope="col">Added Date</th>
							<th scope="col">Edit</th>
						</tr>
					</thead>
					<tbody style="text-align: center;">
						<tr th:each=" customer : ${customers.content}">
							<th scope="row" th:text="${customer.id}"></th>
							<td th:text="${customer.name}"></td>
							<td th:text="${customer.email}"></td>
							<td th:text="${customer.mobile}"></td>
							<td th:text="${customer.address}"></td>
							<td th:text="${customer.dueAmount ?: '0'}"></td>
							<td th:text="${customer.addedDate}"></td>
							<td><a th:href="@{'/a2zbilling/admin/customer/update/'+ ${customer.id} }"
									class="btn btn-success"><i class="fa fa-edit"></i></a>
								<a th:onclick="|deleteContactAlert(${customer.id})|" class="btn btn-danger"><i
										style="background-color: Red;" class="fa-solid fa-trash"></i></a>
							</td>
						</tr>
					</tbody>
				</table>


				<div>
					<span th:text="'Page ' + ${currentPage + 1} + ' of ' + ${customers.totalPages}"></span>
				</div>
				<div>
					<a th:if="${customers.hasPrevious()}"
						th:href="@{/a2zbilling/admin/customer/list(page=${currentPage - 1}, size=${customers.size})}">Previous</a>
					<a th:if="${customers.hasNext()}"
						th:href="@{/a2zbilling/admin/customer/list(page=${currentPage + 1}, size=${customers.size})}">Next</a>
				</div>


			</div>
		</div>
	</section>

</body>

</html>