<!DOCTYPE html>
<html lang="eng" xmlns:th="https://www.thymeleaf.org" th:replace="fragments/base::layout(~{::section})">

<head>
	<meta charset="ISO-8859-1">
	<title>Insert title here</title>
</head>

<body>
	<section>
		<div class="contaier-fluid">
			<div class="row" style="background-color:  rgb(84,78,130);color:#fff;">
				<div class="col-md-12 mt-1">
					<h1 class="text-center">Update Product</h1>
				</div>
			</div>
			<form th:action="@{/a2zbilling/admin/product/edit}" method="post" enctype="multipart/form-data"
				th:object="${product}" class="form-group">
				<div class="row pb-3" style="background-color: #f5f0f0;">
					
					<div class="col-md-4 mt-3">
						<div class="form-group">
							<label>Brand Name</label>
							<div class="form-group">
								<select class="form-select form-control" th:field="*{brand}" aria-label="Default select example"
									name="brand">
									<option value="" disabled selected>Brand</option >
									<option th:each="brand: ${brands}" th:value="${brand.id}"
										th:text="${brand.name}"></option>
								</select>
							</div>
						</div>
					</div>
					
					<div class="col-md-4 mt-3">
						<input type="hidden" name="id" th:field="*{id}" />
						<div class="form-group">
							<label>Product Name</label>
							<input type="text" class="form-control" name="name" th:field="*{name}">
						</div>
					</div>
					<div class="col-md-4 mt-3">
						<div class="form-group">
							<label>Product Price</label>
							<input type="text" class="form-control" name="price" th:field="*{price}">
						</div>
					</div>
					
					<!--<div class="col-md-4 mt-2">
						<div class="form-group">
							<label>Quantity</label>
							<input type="text" class="form-control" name="quantity" th:field="*{quantity}">
						</div>
					</div>-->
					
					<div class="col-md-4 mt-2">
						<label>Select Category</label>
						<div class="form-group">
							<select class="form-select form-control" th:field="*{category}" aria-label="Default select example"
								name="category">
								<option value="" disabled selected>Category</option >
								<option th:each="category: ${categories}" th:value="${category.id}"
									th:text="${category.categoryName}"></option>
							</select>
						</div>
					</div>
					<div class="col-md-4 mt-2">
						<div class="form-group">
							<label>Product Size</label>
							<input type="text" class="form-control" name="size" placeholder="Enter product size" th:field="*{size.sizeValue}">
						</div>
					</div>
					
					<div class="col-md-4 mt-2">
						<div class="form-group">
							<label>Supplier Name</label>
							<div class="form-group">
							<select class="form-select form-control" th:field="*{supplier}" aria-label="Default select example"
								name="supplier">
								<option value="" disabled selected>Choose</option >
								<option th:each="supplier: ${suppliers}" th:value="${supplier.id}"
									th:text="${supplier.name}"></option>
							</select>
						</div>
						</div>
					</div>
					
					<div class="col-md-4 mt-2 ">
						<label>Color</label>
						<div class="form-group ">
							<div class="form-group">
								<select class="form-select form-control" aria-label="Default select example"
									name="productColor">
									<option selected>Choose</option>
									<option th:each="color: ${colors}" th:value="${color.name}" th:text="${color.name}">
									</option>
								</select>
							</div>
						</div>
					</div>
					
						<div class="col-md-4 mt-2">
						<div class="form-group">
							<label>Added Date</label>
							<input type="date" class="form-control" id="currentDateInput" name="addedDate" >
						</div>
						</div>
					
					<div class="col-md-4 mt-2">
						<div class="form-group">
							<label>About Product</label>
							<input type="text" class="form-control" name="about" th:field="*{about}">
						</div>
					</div>
					
					<!--<div class="col-md-4 mt-2">
						<div class="form-group">
							<label>Add Product Image</label>
							<input type="file" class="form-control" name="imageUrl">
						</div>
					</div>-->
					<div class="col-md-12 mt-5">
						<div class="text-center">
							<button type="submit" class="btn btn-info text-center">Update</button>
							<a th:href="@{'/a2zbilling/admin/product/list'}" class="btn btn-info ">Cancel</a>
						</div>
					</div>
				</div>
			</form>
		</div>
	<script>
		var currentDate = new Date();
		var formattedDate = currentDate.toISOString().split('T')[0];
		document.getElementById('currentDateInput').value = formattedDate;
	</script>

	</section>
</body>

</html>