<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org" th:replace="fragments/base::layout(~{::section})">
	<head>
	    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
	    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
	    <script src="https://kit.fontawesome.com/0faddc1af8.js" crossorigin="anonymous"></script>
	</head>

<body>
	<section>
		<style>
	        .heading {
		        background: linear-gradient(45deg, #685099 0%, #595591 60%, #4E5A8B 60%, #37627C 62%, #ffad26 62%, 63%, #d77045 63%, #d77045 64%, #ffad26 64%, #ffad26 65%, #525187 65%, white 80%);
		        border-left: 5px solid #FFC241;
		        color: white;
		        font-weight: bold;
		        padding: 6px 10px 3px 10px;
	    	}
	    </style>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
		<div class="container-fluid pb-4" style="background-color: #f5f0f0; line-height: 25px;">
			<div th:if="${session.message}">
				<div class="alert alert-primary" role="alert">
					<p th:text="${session.message}"></p>
					<script th:inline="javascript">
						/*<![CDATA[*/
						setTimeout(function () {

							window.location.href = '/a2zbilling/admin/clearSessionAttribute';
						}, 500);

					</script>
				</div>
			</div>

			<!-- Created by Younus -->

			<div class="row heading" style="background-color: rgb(84,78,130);color:#fff;">
				<div class="col-md-12">
					<h1 class="text-center"><b>Manage Stock</b></h1>
				</div>
			</div>
			<form th:action="@{/a2zbilling/admin/managestock}" method="post" enctype="multipart/form-data"
				class="form-group">
				
				<div class="row">
					<div class="col-md-4 mt-4">
						<label>Product Name</label>
						<select id="productSelect" required class="form-select form-control" aria-label="Default select example" name="product">
							<option value="" disabled selected>Select</option>
							<option th:each="product : ${products}" th:value="${product.id}" th:text="${product.name}"
							        th:attr="data-price=${product.price}, 
											data-supplierName=${product.parties	?.name ?: 'N/A'},
											data-brandName=${product.brand?.name ?: 'N/A'},
											data-categoryName=${product.category?.categoryName ?: 'N/A'},
											data-unitName=${product.unit?.unitName ?: 'N/A'},
											data-quantity=${product.stock?.quantity ?: '0'},											
											data-tax=${product.stock?.taxInPercentage ?: '0'}">											
							</option>
						</select>
					</div>
					<div class="col-md-4 mt-4">
						<label>Supplier Name </label>
						<input id="supplierName" type="text" readonly class="form-control" name="parties" placeholder="Enter product supplier">
						
					</div>
					<div class="col-md-4 mt-4">
						<label>Brand Name</label>
						<input id="brandName" type="text" readonly class="form-control" name="brandName" placeholder="Enter product Brand">
					</div>
				</div>
				
				<div class="row">
					<div class="col-md-4 mt-4">
						<div class="form-group">
							<label>Product Category </label>
							<input id="categoryName" type="text" readonly class="form-control" name="categoryName" placeholder="Enter product Category">
						</div>
					</div>
					
					<div class="col-md-4 mt-3">
						<div class="form-group">
							<label>Product Quantity</label>
							<input id="quantity" type="number" readonly class="form-control" name="quantity"
								placeholder="Product quantity">
						</div>
					</div>

					<div class="col-md-4 mt-3">
						<div class="form-group">
							<label>Product Unit</label>
							<input id="unitName" type="text" readonly class="form-control" name="unitName" placeholder="Enter product unit">
						</div>
					</div>

					<div class="col-md-4 mt-3">
						<div class="form-group">
							<label>Product Purchase Price</label>
							<input id="price" name="price" readonly type="text" class="form-control" placeholder="Enter prices">
						</div>
					</div>

					<div class="col-md-4 mt-3">
						<div class="form-group">
							<label>Product Tax %</label>
							<input id="taxInPercentage" type="text" readonly class="form-control" name="taxInPercentage" placeholder="Enter product tax %">
						</div>
					</div>

					<div class="col-md-4 mt-3">
						<div class="form-group">
							<label>Minimum Stock Qty</label>
							<input type="number" min="1" required class="form-control" name="minQuantity" placeholder="Enter min stock qty">
						</div>
					</div>
					
					<div class="col-md-4 mt-3">
						<div class="form-group">
							<label>Selling Price</label>
							<input type="number" required class="form-control" name="sellingPrice" placeholder="Enter Selling Price">
						</div>
					</div>

					<div class="col-md-12 mt-6">
						<div class="text-center">
							<button type="submit" class="btn btn-info text-center ml-3">Save</button>

							<a th:href="@{'/a2zbilling/admin/'}" class="btn btn-info ml-3 ">Cancel</a>
						</div>
					</div>
				</div>
			</form>
		</div>
		<script>
			$(document).ready(function() {
			    // Event listener for changing the selected option in the dropdown
			    $('#productSelect').change(function() {
			        var selectedOption = $(this).find('option:selected');
			        var price = selectedOption.attr('data-price');
			        var supplierName = selectedOption.attr('data-supplierName');
					var brandName = selectedOption.attr('data-brandName');
					var categoryName = selectedOption.attr('data-categoryName');
					var unitName = selectedOption.attr('data-unitName');
					var quantity = selectedOption.attr('data-quantity');
					var tax = selectedOption.attr('data-tax');
								
			        $('#price').val(price);
			        $('#supplierName').val(supplierName);
					$('#brandName').val(brandName);
					$('#categoryName').val(categoryName);
					$('#unitName').val(unitName);
					$('#quantity').val(quantity);
					$('#taxInPercentage').val(tax);
			    });
			});
		</script>
	</section>
</body>
<!-- END Body -->

<!-- Mirrored from www.gotbootstrap.com/themes/smartadmin/4.5.1/intel_marketing_dashboard.html by HTTrack Website Copier/3.x [XR&CO'2014], Wed, 05 Apr 2023 07:42:05 GMT -->

</html>