<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org" th:replace="fragments/base::layout(~{::section})">

<!-- BEGIN Page Wrapper -->


<body>
	<section>
		<div class="container-fluid pb-4" style="background-color: #f5f0f0; line-height: 25px;">
			<div th:if="${session.message}">
				<div class="alert alert-primary" role="alert">
					<p th:text="${session.message}"></p>
					<script th:inline="javascript">
						/*<![CDATA[*/
						setTimeout(function () {

							window.location.href = '/a2zbilling/admin/clearSessionAttribute';
						}, 500);

					</script>
				</div>
			</div>

			<!-- Created by Younus -->

			<div class="row" style="background-color: rgb(84,78,130);color:#fff;">
				<div class="col-md-12 ">
					<h1 class="text-center pt-1">Manage Stock</h1>
				</div>
			</div>
			<form th:action="@{/a2zbilling/admin/Item/add}" method="post" enctype="multipart/form-data"
				class="form-group">
				
				<div class="row">
		            <div class="col-md-4 mt-4">
		                <label>Product Name</label>
		                <select id="productSelect" class="form-select form-control" aria-label="Default select example" name="getProduct">
		                    <option selected>Select</option>
		                    <option th:each="product:${products}" th:value="${product.id}" th:text="${product.name}"></option>
		                </select>
		            </div>
		            <div class="col-md-4 mt-4">
		                <label>Supplier Name</label>
		                <select id="supplierSelect" class="form-select form-control" aria-label="Default select example" name="addSupplierProduct">
		                    <option selected>Select</option>
		                    <option th:each="supplier:${suppliers}" th:value="${supplier.id}" th:text="${supplier.name}"
		                            th:attr="data-mobile=${supplier.mobile}, data-email=${supplier.email}"></option>
		                </select>
		            </div>
		            <div class="col-md-4 mt-4">
		                <label>Brand Name</label>
		                <select id="brandSelect" class="form-select form-control" aria-label="Default select example" name="getProduct">
		                    <option selected>Select</option>
		                    <option th:each="brand:${brands}" th:value="${brand.id}" th:text="${brand.name}"></option>
		                </select>
		            </div>
		        </div>
				
				<div class="row">
					<div class="col-md-4 mt-4">
						<div class="form-group">
							<label>Product Category </label>
							<select id="categorySelect" class="form-select form-control"
								aria-label="Default select example" name="getCategory">
								<option selected>Select</option>
								<!-- Dynamically populate options with Category data -->
								<option th:each="category:${categorys}" 
									th:text="${category.categoryName}">
									</option>
							</select>
						</div>
					</div>

					<div class="col-md-4 mt-4">
						<div class="form-group">
							<label>Item HSN/SAC</label>
							<input type="text" required class="form-control" name="code"
								placeholder="Enter item HSN/SAC">
						</div>
					</div>

					<div class="col-md-4 mt-3">
						<div class="form-group">
							<label>Product Quantity</label>
							<input type="number" min="1" required class="form-control" name="name"
								placeholder="Product quantity">
						</div>
					</div>

					<div class="col-md-4 mt-3">
						<div class="form-group">
							<label>Product Unit</label>
							<input type="text" required class="form-control" name="name"
								placeholder="Enter product unit">
						</div>
					</div>


					<div class="col-md-4 mt-3">
						<div class="form-group">
							<label>Price/Unit</label>
							<input type="number" min="1" required class="form-control" name="name"
								placeholder="Enter price/unit">
						</div>
					</div>

					<div class="col-md-4 mt-3">
						<div class="form-group">
							<label>Product Tax %</label>
							<input type="number" min="1" required class="form-control" name="name"
								placeholder="Enter product tax %">
						</div>
					</div>

					<div class="col-md-4 mt-2">
						<div class="form-group">
							<label>Stock Update date</label>
							<input type="date" required class="form-control" name="addedDate">
						</div>
					</div>

					<div class="col-md-4 mt-3">
						<div class="form-group">
							<label>Minimum Stock Qty</label>
							<input type="number" min="1" required class="form-control" name="name"
								placeholder="Enter min stock qty">
						</div>
					</div>

					<div class="col-md-12 mt-6">
						<div class="text-center">
							<button type="submit" class="btn btn-info text-center ml-3">Save</button>

							<a th:href="@{'/a2zbilling/admin/'}" class="btn btn-info ml-3 ">Cancel</a>
						</div>
					</div>
				</div>
			</form>
		</div>
		
		<script>
		     $(document).ready(function() {
		         $('#productSelect').change(function() {
		             var productId = $(this).val();
		             if (productId !== 'Select') {
		                 updateSuppliers(productId);
		                 updateBrands(productId);
		             }
		         });
		
		         function updateSuppliers(productId) {
		             // Assuming you have a map of productId to supplierIds
		             var suppliersMap = /*[[${suppliersMapJson}]]*/ {}; // Get this map from your backend
		             var supplierSelect = $('#supplierSelect');
		             supplierSelect.find('option').not(':first').remove();
		
		             if (suppliersMap[productId]) {
		                 suppliersMap[productId].forEach(function(supplier) {
		                     supplierSelect.append(new Option(supplier.name, supplier.id));
		                 });
		             }
		         }
		
		         function updateBrands(productId) {
		             // Assuming you have a map of productId to brandIds
		             var brandsMap = /*[[${brandsMapJson}]]*/ {}; // Get this map from your backend
		             var brandSelect = $('#brandSelect');
		             brandSelect.find('option').not(':first').remove();
		
		             if (brandsMap[productId]) {
		                 brandsMap[productId].forEach(function(brand) {
		                     brandSelect.append(new Option(brand.name, brand.id));
		                 });
		             }
		         }
		     });
		 </script>
	</section>



</body>
<!-- END Body -->

<!-- Mirrored from www.gotbootstrap.com/themes/smartadmin/4.5.1/intel_marketing_dashboard.html by HTTrack Website Copier/3.x [XR&CO'2014], Wed, 05 Apr 2023 07:42:05 GMT -->

</html>