<!DOCTYPE html> <!-- Created By Mahesh -->
<html lang="en" xmlns:th="https://www.thymeleaf.org" th:replace="fragments/base::layout(~{::section})">
<section>
	<style>
        .heading {
        background: linear-gradient(45deg, #685099 0%, #595591 60%, #4E5A8B 60%, #37627C 62%, #ffad26 62%, 63%, #d77045 63%, #d77045 64%, #ffad26 64%, #ffad26 65%, #525187 65%, white 80%);
        border-left: 5px solid #FFC241;
        color: white;
        font-weight: bold;
        padding: 6px 10px 3px 10px;
    	}
    </style>
	<script src="https://kit.fontawesome.com/0faddc1af8.js" crossorigin="anonymous"></script>
	<script>
		function deleteContactAlert(id) {

			const swalWithBootstrapButtons = Swal.mixin({
				customClass: {
					confirmButton: 'btn btn-success',
					cancelButton: 'btn btn-danger'
				},
				buttonsStyling: true

			})

			swalWithBootstrapButtons.fire({
				title: 'Are you sure?',
				text: "You Wont To Delete!!",
				icon: 'warning',
				showCancelButton: true,
				confirmButtonText: 'Yes, delete it!',
				cancelButtonText: 'No, cancel!',
				reverseButtons: true
			}).then((result) => {
				if (result.isConfirmed) {


					window.location = "/a2zbilling/admin/parties/delete/" + id + " ";


					swalWithBootstrapButtons.fire(
						'Supplier Deleted Successfully!!',

					)
				} else if (
					/* Read more about handling dismissals below */
					result.dismiss === Swal.DismissReason.cancel
				) {
					swalWithBootstrapButtons.fire(
						'Cancelled',
						'Supplier Not deleted',
						'error'
					)
				}
			})
		}
	</script>
	
	<style>
	@media print{
		#actionColumn,
		Td:nth-child(4),
		Th:nth-child(4){
			display: none;
		}
	}
	</style>
	<!-- BEGIN Page Wrapper -->
	<div class="container-fluid pb-4">
		<div th:if="${session.message}">
			<div class="alert alert-primary" role="alert">
				<p th:text="${session.message}"></p>
				<script th:inline="javascript">
					/*<![CDATA[*/
					setTimeout(function () {
						window.location.href = '/a2zbilling/admin/clearSessionAttribute';
					}, 800); 
				</script>
			</div>
		</div>
		<div class="row heading">
			<div class="col-md-12">
				<h1 class="text-center"><b>ALL SUPPLIER</b></h1>
			</div>
		</div>
		
		<div class="row text-right">
			<div class="col-md-12 mt-3">
				<a th:href="@{'/a2zbilling/admin/parties/add'}" style="color: white; padding: 5px 22px; display: inline-block; font-size: 14px; margin: 3px 2px; cursor: pointer; border-radius: 8px;" class="btn btn-info"><i class="fa-solid fa-circle-plus"></i> Add Supplier</a>
			</div>
		</div>
		<div class="row mt-4">
			<div class="col-md-12">
				<table style="border: 1px solid black;" class="table table-bordered table-hover table-striped">
					<thead style="background-color: #F3EBD6;">
						<tr style="text-align: center;">
							<!-- <th scope="col">Supplier Id</th> -->
							<th style="border: 1px solid black;" scope="col">Supplier Name</th>
							<th style="border: 1px solid black;" scope="col">Amount</th>
							<th style="border: 1px solid black;" scope="col">Payment</th>
							<th id="actionColumn" style="border: 1px solid black;" scope="col">Action</th >
						</tr>
					</thead>
					<tbody>
						<tr th:each="partie : ${parties}" style="text-align: center;">
							<td th:text="${partie.name}"></td>
							<td th:text="${partie.openingBalance}"></td>
							<td th:text="${partie.payment}"></td>
							<td>
								<div class="dropdown">
								  <button type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
									<i class="fa-solid fa-ellipsis-vertical"></i>
								  </button>
								  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
								    <a class="dropdown-item" th:href="@{'/a2zbilling/admin/parties/transactions/list/' + ${partie.id} }"><b>View Transactions</b></a>
								    <a class="dropdown-item" th:href="@{'/a2zbilling/admin/parties/update/' + ${partie.id} }"><b>Edit</b></a>
								    <a class="dropdown-item" th:onclick="|deleteContactAlert(${partie.id})|"><b>Delete</b></a>
								  </div>
								</div>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</section>
</body>
<!-- END Body -->
<!-- Mirrored from www.gotbootstrap.com/themes/smartadmin/4.5.1/intel_marketing_dashboard.html by HTTrack Website Copier/3.x [XR&CO'2014], Wed, 05 Apr 2023 07:42:05 GMT -->

</html>