<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org" th:replace="fragments/base::layout(~{::section})">

<head>

<link href="./css/billing_style/productstyle.css" rel="stylesheet" type="text/css">
</head>
<body>

	<section>
	
	   <script>

			function deleteProductAlert(id) {

				const swalWithBootstrapButtons = Swal.mixin({
					customClass: {
						confirmButton: 'btn btn-success m-2',
						cancelButton: 'btn btn-danger'
					},
					buttonsStyling: false
				})

				swalWithBootstrapButtons.fire({
					title: 'Are you sure?',
					text: "You won't be able to revert this!",
					icon: 'warning',
					showCancelButton: true,
					confirmButtonText: 'Yes, delete it!',
					cancelButtonText: 'No, cancel!',
					reverseButtons: true
				}).then((result) => {
					if (result.isConfirmed) {


						window.location = "/a2zbilling/admin/product/delete/" + id + " ";


						swalWithBootstrapButtons.fire(
							'Product Deleted Successfully !',

						)
					} else if (
						/* Read more about handling dismissals below */
						result.dismiss === Swal.DismissReason.cancel
					) {
						swalWithBootstrapButtons.fire(
							'Cancelled',
							'Product Not deleted',
							'error'
						)
					}
				})

			}

		</script>
		<div class="contaier-fluid">
			<div class="row" style="background-color:rgb(84,78,130);color: #fff;">
				<div class="col-md-12 mt-1">
					<h1 class="text-center">All Products</h1>
				</div>
			</div>
			<div class="row" style="background-color: #f5f0f0;">
				<div class="col-md-12 mt-3">
					<table class="table table-bordered table-hover " style="background-color: #fff;">
						<thead style="background-color: #F3EBD6; ">
							<tr>
								<th scope="col">Id</th>
								<th scope="col">Brand Name</th>
								<th scope="col">Product Name</th>
								<th scope="col">Category</th>
								<th scope="col">Color</th>
								
								<th scope="col">Added Date</th>
								<th scope="col">Quantity</th>
								<!--<th scope="col">Added by</th>-->
								<th scope="col">Supplied by</th>
								<th scope="col">Product price</th>
								<!--<th scope="col">Customer Name</th>
								<th scope="col">Customer Mobile</th>-->
								<th class="text-center" scope="col">Edit</th>
							</tr>
						</thead>
						<tbody>
							<tr th:each=" product : ${productPage.content}">
								<th scope="row" th:text="${product.id}"></th>
								<td th:text="${product.brand?.name}"></td>
								<td th:text="${product.name}"></td>
								<td th:text="${product.category?.categoryName}"></td>
								<td th:text="${product.color?.name}">color</td>
								
								<td th:text="${product.addedDate}"></td>
								<td th:text="${product.stock?.quantity ?:0}"></td>
								<!--<td>Admin</td>-->
								<td th:text="${product.supplier?.name}"> </td >
								<td th:text="${product?.price}"></td >
								<!--<td th:text="${product.customer}"></td>
								<td>customer mobile</td>-->
								<td>
									<div class="input-group">									
										<a th:href="@{'/a2zbilling/admin/product/edit/'+${product.id}}"
											class="btn btn-success" style="height:35px; width:35px; border-radius:50%; text-align:center; margin-bottom:5px"><i class="fa fa-edit"></i></a>

										<a th:onclick="|deleteProductAlert(${product.id})|"class="btn btn-danger" style="height:35px; width:35px; border-radius:50%; text-align:center"><i class="fa fa-trash"></i></a>

									</div>
								</td>
							</tr>
						</tbody>
					</table>
		 <div>
        <span th:text="'Page ' + ${currentPage + 1} + ' of ' + ${productPage.totalPages}"></span>
      </div>
     <div>
        <a th:if="${productPage.hasPrevious()}" th:href="@{/a2zbilling/admin/product/list(page=${currentPage - 1}, size=${productPage.size})}">Previous</a>
        <a th:if="${productPage.hasNext()}" th:href="@{/a2zbilling/admin/product/list(page=${currentPage + 1}, size=${productPage.size})}">Next</a>
    </div>
				</div>
			</div>
		</div>
	</section>
</body>
<!-- END Body -->
<!-- Mirrored from www.gotbootstrap.com/themes/smartadmin/4.5.1/intel_marketing_dashboard.html by HTTrack Website Copier/3.x [XR&CO'2014], Wed, 05 Apr 2023 07:42:05 GMT -->

</html>