<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org" th:replace="fragments/base::layout(~{::section})" >

<section>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	
	<head>
		<meta charset="UTF-8">
		<title>Invoice</title>
		<style>
			.invoice-container {
				width: 100%;
				padding: 20px;
				border: 2px solid #ccc;
				border-radius: 10px;
				background-color: #f9f9f9;
				box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
				text-align: left;
				display: flex;
				flex-direction: row;
				flex-wrap: wrap;
				justify-content: space-between;
			}

			.invoice-field {
				flex-basis: calc(50% - 10px);
				margin-bottom: 10px;
				box-sizing: border-box;
				padding: 10px;
				border: 1px solid #ccc;
				border-radius: 5px;
			}

			.invoice-label {
				font-weight: bold;
			}

			.invoice-value {
				margin-left: 10px;
			}
			.heading {
				background: linear-gradient(45deg, #685099 0%, #595591 60%, #4E5A8B 60%, #37627C 62%, #ffad26 62%, 63%, #d77045 63%, #d77045 64%, #ffad26 64%, #ffad26 65%, #525187 65%, white 80%);
				border-left: 5px solid #FFC241;
				color: white;
				font-weight: bold;
				padding: 6px 10px 3px 10px;
						}
		</style>

		<div class="contaier-fluid">
			<div th:if="${session.message}">
				<div class="alert alert-primary" role="alert">
					<p th:text="${session.message}"></p>
					<script th:inline="javascript">
						/*<![CDATA[*/
						setTimeout(function () {

							window.location.href = '/a2zbilling/admin/clearSessionAttribute';
						}, 500);
					</script>
				</div>
			</div>

	</head>

	<div class="heading" style="background-color: rgb(84,78,130);color:#fff;">
		<div class="col-md-12 ">
			<h1 class="text-center pt-1"><b>PURCHASE RETURN</b></h1>
		</div>
	</div>

	<div class="row pb-3" style="background-color: #f5f0f0;">

		<form th:action="@{/a2zbilling/admin/purchasereturn/add}" method="post" enctype="multipart/form-data"
			class="form-group" th:object="${partiesTransaction}">
			
			<!-- //style="overflow-x: auto;" -->
			<div class="col-md-12 mt-1">


				<!--Purchase Bill Number Code-->
				<div class="row d-flex justify-content-end">
					<div class="col-md-3 mt-3 input-group ">
						<div class="input-group-prepend">
							<span class="input-group-text"
								style="background-color: #715499; color: white ; border: 1px solid #715499 ;">Bill No
							</span>
						</div>
						<input th:value="${newPurchaseBillNo}" name="billNo" id="purchaseorder" th:field="*{billNo}"
							style="border: 1px solid #715499 ;" type="text" class="form-control" readonly value="PB-">
					</div>
				</div>


				<!--Get Parties data from database-->
				<div class="row ml-1 mr-1">
					<div class="input-group">
					<input type="hidden" name="Id" th:field="*{Id}" />
						<div class="col-md-4 mt-3 input-group">
							<label>Supplier Name :- </label>
							<select  id="partiesSelect" th:field="*{parties}" class="form-select form-control" aria-label="Default select example" name="parties" readonly>
								<option value="" disabled selected>Choose</option>
								<option th:each="party:${parties}" 
									th:value="${party.id}" 
									th:text="${party.name}"
									th:attr="data-mobile=${party.mobile}, 
									data-email=${party.email}">
								</option>
							</select >
							<button type="button" class="btn btn-info ml-2" data-toggle="modal" data-target="#exampleModal">
								<i class="fa-solid fa-plus"></i>
							</button>
						</div>

						<div class="col-md-3 mt-3 input-group">
							<label>Mobile :- </label>
							<input id="mobile1" readonly type="text" class="form-control" th:field="*{parties.mobile}">
						</div>
						<div class="col-md-3 mt-3 input-group">
							<label>Email :- </label>
							<input id="email1" readonly type="email" class="form-control" th:field="*{parties.email}">
						</div>

						<div class="col-md-2 mt-3 input-group">
							<label>Date :- </label>
							<input name="date" type="text" class="form-control" id="currentDateInput" th:field="*{date}" readonly>
						</div>
					</div>
					 
				</div>

				<table id="itemtable" class="table table-bordered" style="background-color: #fff; color: black;">
					<thead style="background-color: #F3EBD6;">
						<tr>
							<th style="border: 1px solid black;" scope="col">Product_Name</th>
							<th style="border: 1px solid black;" scope="col">Available Quantity</th>
							<th style="border: 1px solid black;" scope="col">Quantity</th>
							<th style="border: 1px solid black;" scope="col">Size</th>
							<th style="border: 1px solid black;" scope="col">Unit</th>
							<th style="border: 1px solid black;" scope="col">Price/Unit</th>
							<th style="border: 1px solid black;" scope="col">Tax %</th>
							<th style="border: 1px solid black;" scope="col">Tax Amount</th>
							<th style="border: 1px solid black;" scope="col">Total Amount</th>
						</tr>
					</thead>
					<tbody id="addrow">
					    <tr th:each="product,iterStat : ${partiesTransaction.products}">
							
							<td>
					            <select required id="productSelect" style="width: 90px;" name="products" class="form-select form-control" aria-label="Default select example" onchange="updateProductDetails(this)">
					                <option value="" selected>Choose</option>
					                <option th:each="p : ${products}"
					                        th:value="${p.id}" 
					                        th:text="${p.name}"
					                        th:attr="data-price=${p.price},data-quantity=${p.stock?.quantity}"
					                        th:selected="${p.id} == ${product.id}">
					                </option>
					            </select>
					        </td>
							<td><input id="AQty" style="width: 70px;" type="number" th:value="${product?.stock?.quantity ?: '0'}" class="form-control" readonly></td>
							<td><input id="Qty" required style="width: 70px;" type="number" name="quantity" th:value="${#strings.arraySplit(partiesTransaction?.quantity, ',')[iterStat.index]}" class="form-control"  oninput="calculatetaxInAmountAndTotalAmount(this)"></td>
					        <td>
								<select required id="sizeSelect" class="form-select form-control" style="width: 90px;" aria-label="Default select example" name="size">
						           <option value="" selected>Choose</option>
								   <option	th:each="size : ${sizes}"
								   			th:value="${size.sizeValue}" 
											th:text="${size.sizeValue}"
											th:selected="${size.sizeValue} == ${#strings.arraySplit(partiesTransaction?.size, ',')[iterStat.index]}"
									></option>
					           	</select>
							</td>
							<td>
								<select id="unit" name="unit[]" style="width: 90px;" class="form-control" required>
									<option value="None">Select Unit</option>
									<option th:each="unit : ${units}" value="${unit.id}" th:text="${unit.unitName}"></option>
								</select>
							</td>
							<td><input id="price" required style="width: 70px;" type="text" th:value="${product?.price}" class="form-control"></td>				        
							<td><input id="taxinpercentage" style="width: 70px;" name="taxInPercentage" type="number" th:value="${#strings.arraySplit(partiesTransaction?.taxInPercentage, ',')[iterStat.index]}" class="form-control" oninput="calculatetaxInAmountAndTotalAmount(this)"></td>
					        <td><input id="taxinamount" style="width: 70px;" name="taxInRupees" type="text" class="form-control" readonly th:value="${#strings.arraySplit(partiesTransaction?.taxInRupees, ',')[iterStat.index]}"></td>
					        <td><input id="total_amount" style="width: 70px;" class="form-control" type="text" readonly></td>
					        
					    </tr>
					</tbody>
				</table>

			</div>

			<!-- Add Underline  -->
			<div style="height: 0px; width: 100%; border: 1px solid #694c94c4; margin-top: 10px; "></div>

			<div class="invoice-container mt-5" style="background-color: #F9F9F9;">
				<div class="container">
					<div class="row d-flex justify-content-between">
						<div>
							<div class="form-group">
								<label class="invoice-label">Total amount:</label>
								<input id="totalAmountField" type="text" required class="form-control"
									name="totalAmount" placeholder="Total amount" readonly th:field="*{totalAmount}">
							</div>
						</div>
						<div>
							<div class="form-group">
								<label class="invoice-label">Discount (Rs):</label>
								<input id="discountAmountField" type="text" class="form-control" name="discountInRupees"
									placeholder="Discount amount" oninput="updatePercentageAmount()" th:field="*{discountInRupees}">
							</div>
						</div>
						<div>
							<div class="form-group">
								<label class="invoice-label">Discount %:</label>
								<input id="discountPercentField" type="text" class="form-control"
									name="discountInPercentage" placeholder="Discount %" oninput="updateDiscountedAmount()" th:field="*{discountInPercentage}">
							</div>
						</div>
						<div>
							<div class="form-group">
								<label class="invoice-label">Payment mode:</label>
								<select class="form-control" name="paymentMode" required th:field="*{paymentMode}">
									<option value="" disabled selected>Choose</option>
									<option value="cash">Cash</option>
									<option value="cheque">Cheque</option>
									<option value="online">Online</option>
								</select>
							</div>
						</div>
					</div>
					<div class="row d-flex justify-content-between">
						<div>
			                <div class="form-group mt-2">
			                    <label class="invoice-label">Return Amount Status:</label>
			                    <select class="form-control" required name="paymentStatus">
									<option value="" disabled selected>Choose</option>
									<option value="Amount Received">Amount Received</option>
									<option	value="Amount Not Received">Amount Not Received</option>
								</select>
			                </div>
			            </div>
						<div>
							<div class="form-group mt-2">
								<label class="invoice-label">Paid:</label>
								<input id="paidAmountField" type="number" required  th:field="*{paid}" class="form-control" name="paid"
									placeholder="Amount paid" oninput="updateDues()">
							</div>
						</div>
						<div>
							<div class="form-group mt-2">
								<label class="invoice-label">Dues:</label>
								<input id="duesAmountField" type="number" required class="form-control" name="dues"
									placeholder="Dues" readonly th:field="*{dues}">
							</div>
						</div>
						<div>
							<div class="form-group mt-2">
								<label class="invoice-label">Net Payment:</label>
								<input id="netPaymentField" type="number" required class="form-control"
									name="netPayment" placeholder="Final Amount" readonly th:field="*{netPayment}">
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="col-md-12 mt-5">
				<div class="text-center">

					<button type="submit" class="btn btn-info text-center ">Save</button>
					<!--<button type="button" onclick="saveAndNew" class="btn btn-info text-center ml-3 ">Save & New</button> -->
					<a th:href="@{'/a2zbilling/admin/purchasebill/transection'}" class="btn btn-info ml-3">Cancel</a>
				</div>
			</div>
		</form>
	</div>
	</div>
	<!--Add Parties Modal -->
	<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="customerModalLabel"
		aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content">

				<div class="modal-header d-flex justify-content-center" style="background-color: #534F84;color: #fff;">
					<h1 class="modal-title" id="exampleModalLabel">Add Supplier</h1>
				</div>

				<div class="modal-body" style="background-color: #f5f0f0;">
					<form th:action="@{/a2zbilling/admin/parties/add}" method="post" enctype="multipart/form-data"
						class="form-group">
						<div class="row pb-3">
							<div class="col-md-5 mt-4">
								<label><b>Supplier Name*</b></label>
							</div>
							<div class="col-md-7 mt-4">
								<input type="text" required class="form-control" name="name"
									placeholder="Enter party name">
							</div>

							<div class="col-md-5 mt-4">
								<label><b>Supplier Mobile*</b></label>
							</div>
							<div class="col-md-7 mt-4">
								<input type="text" id="mobile1" pattern="[0-9]{10}" required class="form-control"
									name="mobile" placeholder="Enter party mobile No">
							</div>
							<div class="col-md-5 mt-4">
								<label><b>Billing Address*</b></label>
							</div>
							<div class="col-md-7 mt-4">
								<textarea name="billingAddress" required type="text" class="form-control"
									placeholder="Billing Address"></textarea>
							</div>

							<div class="col-md-5 mt-4">
								<label><b>Shipping Address*</b></label>
							</div>
							<div class="col-md-7 mt-4">
								<textarea name="shippingAddress" required type="text" class="form-control"
									placeholder="Shipping Address"></textarea>
							</div>

							<div class="col-md-5 mt-4">
								<label><b>Supplier email*</b></label>
							</div>
							<div class="col-md-7 mt-4">
								<input size="50" type="email" required class="form-control" name="email"
									placeholder="Enter party e-mail">
							</div>
							<div class="col-md-5 mt-4">
								<label><b>GST Type</b></label>
							</div>
							<div class="col-md-7 mt-4">
								<select name="gstType" required class="form-control" id="businessType">
									<option value="unregistered/Consumer">Unregistered/Consumer</option>
									<option value="registeredBusinessRegular">Registered Business - Regular</option>
									<option value="registeredBusinessComposition">Registered Business - Composition
									</option>
								</select>
							</div>

							<div class="col-md-5 mt-4" id="gstinLable" style="display: none;">
								<label><b>GSTIN Number*</b></label>
							</div>

							<div class="col-md-7 mt-4" id="gstinInput" style="display: none;">
								<input name="gstinNumber" type="text" class="form-control" placeholder="GSTIN Number">
							</div>
							
							<div class="col-md-5 mt-2">
								<label><b>Choose date</b></label>
							</div>
							<div class="col-md-7 mt-4">
								<input type="date" class="form-control" name="date">
							</div>

							<div class="modal-footer d-flex justify-content-end">
								<button type="submit" class="btn btn-primary">Add</button>
								<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
	
	<!-- Add Print Buttons -->
	<div class="col-md-12 mt-3 text-center">
		<button type="button" class="btn btn-primary" onclick="printBill()">Print Bill</button>
	</div>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.4.0/jspdf.umd.min.js"></script>
	
	<!--Get Current date code-->
	<script>
		$(document).ready(function () {
			$('#businessType').change(function () {
				var selectedValue = $(this).val();
				if (selectedValue === 'registeredBusinessRegular') {
					$('#gstinLable').show();
					$('#gstinInput').show();
				} else {
					$('#gstinLable').hide();
					$('#gstinInput').hide();
				}
			});
		});
		
		var currentDate = new Date();
		var formattedDate = currentDate.toISOString().split('T')[0];
		document.getElementById('currentDateInput').value = formattedDate;
	</script>

	<script>
		// Function to print the bill
		function printBill() {
			window.print();
		}

		$(document).ready(function () {
			// Event listener for changing the selected option in the dropdown
			$('#productSelect').change(function () {
				var selectedOption = $(this).find('option:selected');
				var price = selectedOption.data('price');
				var AQty = selectedOption.data('quantity');

				$('#price').val(price);
				$('#AQty').val(AQty);

			});
		});

	</script>

	<script>
		// !--Get parties mobile number and Email from Database-->

		$(document).ready(function () {

			// Event listener for changing the selected option in the dropdown
			$('#partiesSelect').change(function () {
				var selectedOption = $(this).find('option:selected');
				var phone = selectedOption.data('mobile');
				var email = selectedOption.data('email');

				$('#mobile1').val(phone);
				$('#email1').val(email);
			});
		});
	$(document).ready(function() {
	        $('#addrow').on('click', '#deleteBtn', function() {
	            $(this).closest('tr').remove();
				calculateTotalAmount();
				updateNetPayment();
	        });
			calculateTotalAmountOnLoad();
			calculateTotalAmount();
			
			$('#totalAmountField, #discountAmountField').on('input', updateNetPayment);
			
		   $('#paidAmountField').on('input', updateDues);
	    });
	function calculateTotalAmount() {
		    let totalAmount = 0;
		    $('#addrow tr').each(function() {
		        let row = $(this);
		        let rowTotalAmount = parseFloat(row.find('#total_amount').val());
		        if (!isNaN(rowTotalAmount)) {
		            totalAmount += rowTotalAmount;
		        }
		    });
		    $('#totalAmountField').val(totalAmount.toFixed(2));
			updateDues();
		}
	function updatePercentageAmount() {
			    const totalAmountField = document.getElementById('totalAmountField');
			    const discountPercentField = document.getElementById('discountPercentField');
			    const discountAmountField = document.getElementById('discountAmountField');
			
			    // Calculate the percentage and net amount initially
			    calculatePercentageAndNetAmount();
			
			    // Add event listener to discountAmountField
			    discountAmountField.addEventListener('input', calculatePercentageAndNetAmount);
			}
	function calculateTotalAmountOnLoad() {
	        $('#addrow tr').each(function() {
	            var row = $(this);
	            var AQty = parseFloat(row.find('#AQty').val());
	            var Qty = parseFloat(row.find('#Qty').val());
	            var price = parseFloat(row.find('#price').val());
	            var taxPercentage = parseFloat(row.find('#taxinpercentage').val());
	
	            var taxAmount = (price * Qty * (taxPercentage / 100));
	            row.find('#taxinamount').val(taxAmount.toFixed(2));
	
	            var totalAmount = (price * Qty) + taxAmount;
	            row.find('#total_amount').val(totalAmount.toFixed(2));
	        });
			calculateTotalAmount();
	    }
		function updateProductDetails(selectElement) {
		    const selectedOption = selectElement.options[selectElement.selectedIndex];
		    const price = selectedOption.getAttribute('data-price');
		    const quantity = selectedOption.getAttribute('data-quantity');
		    const size = selectedOption.getAttribute('data-size');
		    const tax = selectedOption.getAttribute('data-tax');
		
		    const row = selectElement.closest('tr');
		
		    row.querySelector('#price').value = price;
		    row.querySelector('#AQty').value = quantity;
		    row.querySelector('#size').value = size;
		    row.querySelector('#taxinpercentage').value = tax;
		
		    // Optionally update the taxinamount and total_amount fields if needed
		    calculatetaxInAmountAndTotalAmount(row.querySelector('#Qty'));
			updateDues();
		}
	function updateDues() {
	            var totalAmount = parseFloat(document.getElementById('totalAmountField').value) || 0;
	            var paidAmount = parseFloat(document.getElementById('paidAmountField').value) || 0;
	            var discountAmount = parseFloat(document.getElementById('discountAmountField').value) || 0;
	            
				var duesAmount = totalAmount - paidAmount - discountAmount;
	
	            document.getElementById('duesAmountField').value = duesAmount.toFixed(2);
				updateNetPayment();
	        }
	function updateNetPayment() {
				updateDiscountedAmount();
			    let totalAmount = parseFloat($('#totalAmountField').val()) || 0;
			    let discountAmount = parseFloat($('#discountAmountField').val()) || 0;
			    let paidAmount = parseFloat($('#paidAmountField').val()) || 0;
			
			    let netPayment = totalAmount - discountAmount;
			    let dues = netPayment - paidAmount;
			
			    $('#netPaymentField').val(netPayment.toFixed(2));
			    $('#duesAmountField').val(dues.toFixed(2));
			}
	function calculatetaxInAmountAndTotalAmount(input) {
		        var row = $(input).closest('tr');
		        var price = parseFloat(row.find('#price').val()) || 0;
		        var qty = parseFloat(row.find('#Qty').val()) || 0;
		        var taxPercentage = parseFloat(row.find('#taxinpercentage').val());
				
				if(qty < 0)
				{
					alert("Please Enter Quantity > 0");
					row.find('#Qty').val(0);
					row.find('#total_amount').val(0.00);
					qty = 0;
				}
				if(taxPercentage < 0)
				{
					alert("Please Enter Taxs > 0");
					row.find('#taxinamount').val(0.00);
					row.find('#taxinpercentage').val(0);
					taxPercentage = 0;
				}
				
		        var taxAmount = (price * qty * (taxPercentage / 100));
		        row.find('#taxinamount').val(taxAmount.toFixed(2));
		
		        var totalAmount = (price * qty) + taxAmount;
		        row.find('#total_amount').val(totalAmount.toFixed(2));
				
				calculateTotalAmount();
		    }
	function calculateTotalAmount() {
		    let totalAmount = 0;
		    $('#addrow tr').each(function() {
		        let row = $(this);
		        let rowTotalAmount = parseFloat(row.find('#total_amount').val());
		        if (!isNaN(rowTotalAmount)) {
		            totalAmount += rowTotalAmount;
		        }
		    });
		    $('#totalAmountField').val(totalAmount.toFixed(2));
			updateDues();
		}
	// Function to calculate percentage and net amount
    function calculatePercentageAndNetAmount() {
        var totalAmount = parseFloat(totalAmountField.value) || 0;
        var discountAmount = parseFloat(discountAmountField.value) || 0;			

        // Calculate the discount percentage
        var discountPercentage = (discountAmount / totalAmount) * 100;

        // Update the net amount
        var netAmount = totalAmount - discountAmount;

        // Update the discount percentage display
        document.getElementById('discountPercentField').value = discountPercentage.toFixed(2);

        // Update the net amount display
        document.getElementById('netPaymentField').value = netAmount.toFixed(2);
		updateDues();
    }
	function updateDiscountedAmount(){
			const totalAmountField = document.getElementById('totalAmountField');
	        const discountPercentField = document.getElementById('discountPercentField');
	        const discountAmountField = document.getElementById('discountAmountField');
	
	        // Calculate the discounted amount initially
	        calculateDiscountAndNetAmount();
	
	        // Add event listener to discountPercentField
	        discountPercentField.addEventListener('input', calculateDiscountAndNetAmount);
        }
	// Function to calculate discounted amount and net amount
    function calculateDiscountAndNetAmount() {
        var totalAmount = parseFloat(totalAmountField.value) || 0;
        var discountAmount = parseFloat(discountAmountField.value) || 0;
        var discountPercent = parseFloat(discountPercentField.value) || 0;

        var discountedAmount = discountAmount;
        if (!isNaN(discountPercent)) {
            discountedAmount = (totalAmount * discountPercent) / 100;
		}else {
		        discountedAmount = 0; // Set discounted amount to 0 if discountPercent is not a number
		    }

        // Update the net amount
        var netAmount = totalAmount - discountedAmount;

        // Update the discounted amount display
        document.getElementById('discountAmountField').value = discountedAmount.toFixed(2);

        // Update the net amount display
        document.getElementById('netPaymentField').value = netAmount.toFixed(2);
		updateDues();
    }
	</script>
</section>
</body>
<!-- END Body -->

</html>