<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org" th:replace="fragments/base::layout(~{::section})">

<!-- BEGIN Page Wrapper -->

<section>
	<div class="contaier-fluid">
		<div th:if="${session.message}">
			<div class="alert alert-primary" role="alert">
				<p th:text="${session.message}"></p>
				<script th:inline="javascript">
					/*<![CDATA[*/
					setTimeout(function () {

						window.location.href = '/a2zbilling/admin/clearSessionAttribute';
					}, 500);

				</script>
			</div>
		</div>
		<div class="row" style="background-color: rgb(84,78,130);color:#fff;">
			<div class="col-md-12 ">
				<h1 class="text-center pt-1">Purchase Bill</h1>
			</div>
		</div>
		
			<div class="row pb-3" style="background-color: #f5f0f0;">
				
				<div class="col-md-4 mt-4">
					<div class="form-group">
					
						<label>Item</label>
						<div class="input-group">
							<div class="input-group-prepend">
							<a th:href="@{/a2zbilling/admin/Item/add}">
								<button class="btn btn-outline-secondary" type="button" >+</button>
							</div>
							</a>
							<input type="text" required class="form-control" name="name" placeholder="Add Item">
						</div>
							
					</div>
				</div>
				
				<div class="col-md-4 mt-4">
					<div class="form-group">
						<label>MRP</label>
						<input type="number" required class="form-control" name="mrp" placeholder="Enter the MRP">
					</div>
				</div>
				<div class="col-md-4 mt-4">
					<div class="form-group">
						<label>Size</label>
						<input type="text" id="text" required class="form-control" name="size"
							placeholder="Enter the Size">
					</div>
				</div>
				<div class="col-md-4 mt-2">
					<div class="form-group">
						<label>Quantity</label>
						<input type="number" required class="form-control" name="quantity" placeholder="Select the Quantity">
					</div>
				</div>
				<div class="col-md-4 mt-2">
					<div class="form-group">
						<label>Unit</label>
						<select class="form-control" name="unit" required>
							<option value="None">NONE</option>
							<option value="kg">Kilogram (kg)</option>
							<option value="lit">Liter (lit)</option>

						</select>
					</div>
				</div>

				<div class="col-md-4 mt-2">
					<div class="form-group">
						<label>Price/Unit</label>
						<input type="text" required class="form-control" name="price/unit"
							placeholder="Enter the price">
					</div>
				</div>

				<div class="col-md-4 mt-2">
					<div class="form-group">
						<label>Discount %</label>
						<select class="form-control" name="number" required>
							<option value="None">NONE</option>
							<option value="tax">5%</option>
							<option value="tax">10%</option>
							<option value="tax">15%</option>

						</select>
					</div>
				</div>

				<div class="col-md-4 mt-2">
					<div class="form-group">
						<label>Discount Amount</label>
						<input type="text" required class="form-control" name="discount" placeholder="Discount">
					</div>
				</div>


				<div class="col-md-4 mt-2">
					<div class="form-group">
						<label>Tax %</label>
						<select class="form-control" name="number" required>
							<option value="None">NONE</option>
							<option value="tax">5%</option>
							<option value="tax">10%</option>
							<option value="tax">15%</option>

						</select>
					</div>
				</div>

				<div class="col-md-4 mt-2">
					<div class="form-group">
						<label>Tax Amount</label>
						<input type="text" required class="form-control" name="tax" placeholder="Tax amount">
					</div>
				</div>

				<div class="col-md-4 mt-2">
					<div class="form-group">
						<label>Amount</label>
						<input type="text" required class="form-control" name="amount"
							placeholder="Enter the final Amount">
					</div>
				</div>
				<div class="col-md-4 mt-2">
					<div class="form-group">
						<label>Payment Type</label>
						<select class="form-control" name="type" required>
							<option value="cash">Cash</option>
							<option value="cheque">Cheque</option>
							<option value="online">Online</option>

						</select>
					</div>
				</div>


				<div class="col-md-12 mt-5">
					<div class="text-center">
						<button type="submit" class="btn btn-info text-center ">Save</button>
						<a th:href="@{'/a2zbilling/admin/purchasebill/list'}" class="btn btn-info ml-3">Cancel</a>
					</div>
				</div>
			</div>
		</form>
	</div>
</section>
</body>
<!-- END Body -->

<!-- Mirrored from www.gotbootstrap.com/themes/smartadmin/4.5.1/intel_marketing_dashboard.html by HTTrack Website Copier/3.x [XR&CO'2014], Wed, 05 Apr 2023 07:42:05 GMT -->

</html>