<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org" th:replace="fragments/base::layout(~{::section})">
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
		<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
		<script src="https://kit.fontawesome.com/0faddc1af8.js" crossorigin="anonymous"></script>
	</head>
 <section>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
	<style>
        .heading {
        background: linear-gradient(45deg, #685099 0%, #595591 60%, #4E5A8B 60%, #37627C 62%, #ffad26 62%, 63%, #d77045 63%, #d77045 64%, #ffad26 64%, #ffad26 65%, #525187 65%, white 80%);
        border-left: 5px solid #FFC241;
        color: white;
        font-weight: bold;
        padding: 6px 10px 3px 10px;
    	}
    </style>
	<script>	
		function deleteContactAlert(id) {

			const swalWithBootstrapButtons = Swal.mixin({
				customClass: {
					confirmButton: 'btn btn-success',
					cancelButton: 'btn btn-danger'
				},
				buttonsStyling: false
			})

			swalWithBootstrapButtons.fire({
				title: 'Are you sure?',
				text: "You won't be able to revert this!",
				icon: 'warning',
				showCancelButton: true,
				confirmButtonText: 'Yes, delete it!',
				cancelButtonText: 'No, cancel!',
				reverseButtons: true
			}).then((result) => {
				if (result.isConfirmed){


					window.location = "/a2zbilling/admin/sales/delete/" + id + " ";


					swalWithBootstrapButtons.fire(
						'Sale Deleted Successfully !',

					)
				} else if (
					/* Read more about handling dismissals below */
					result.dismiss === Swal.DismissReason.cancel
				) {
					swalWithBootstrapButtons.fire(
						'Cancelled',
						'Sale Not deleted',
						'error'
					)
				}
			})
		}
	</script>
<div class="container-fluid pb-4" style="background-color: #f1f1f1; line-height: 25px;">
	<div th:if="${session.message}">
		<div class="alert alert-primary" role="alert">
			<p th:text="${session.message}"></p>
			<script th:inline="javascript">
				/*<![CDATA[*/
				setTimeout(function () {
					window.location.href = '/a2zbilling/admin/clearSessionAttribute';
				}, 800); 
			</script>
		</div>
	</div>
	<div class="row heading">
		<div class="col-md-12">
			<h1 class="text-center"><b>SALES BILL</b></h1>
		</div>
	</div>
	<form th:action="@{/a2zbilling/admin/sales/add}" method="post" enctype="multipart/form-data" class="form-group">
		<div class="row">
			<div class="col-md-4 mt-3 input-group">
				<div class="col-md-4">
		        	<label><b>Customer Name :- </b></label>
				</div>
				<div class="col-md-8 input-group">
					<select required id="customerSelect" class="form-select form-control" aria-label="Default select example" name="customer">
			            <option value="" disabled selected>Choose</option>
			            <!-- Dynamically populate options with customer data -->
			            <option th:each="customer:${customers}" th:value="${customer.id}" th:text="${customer.name}" 
								th:attr="data-mobile=${customer.mobile}, 
								data-email=${customer.email},
								data-address=${customer.address}">
						</option>
			        </select>
					<button class="btn btn-info ml-2" data-toggle="modal" data-target="#exampleModal">
						<i class="fa-solid fa-plus"></i>
				   	</button>
				</div>
			</div>
			
		    <div class="col-md-4 mt-3 input-group">
				<div>
		        	<label><b>Mobile :- </b></label>
				</div>
				<div>
		        	<input id="mobile1" readonly type="text" class="form-control">
				</div>
		    </div>
			<div class="col-md-4 mt-3 input-group">
				<div class="col-md-4">
	               <label><b>Sale Bill No. :- </b></label>
				</div>
				<div class="col-md-6">
				   <input name="saleBillNo" readonly type="text" class="form-control" th:value="${newSaleBillNo}" id="saleBillNo">
			 	</div>
           </div>
		</div>
		<div class="row">
		    <div class="col-md-4 mt-1 input-group">
				<div class="col-md-4">
		        	<label><b>Email :- </b></label>
				</div>
				<div class="col-md-8">
		        	<input id="email1" readonly type="email" class="form-control">
				</div>
		    </div>
			<div class="col-md-4 mt-1 input-group ml-auto">
				<div class="col-md-4">
					<label><b>Date :- </b></label>
				</div>
				<div class="col-md-6">
		   			<input name="date" type="text" class="form-control" id="currentDateInput" readonly>
				</div>
           </div>	
		</div>
		
		<div class="row">
			<div class="col-md-4 mt-1 input-group">
				<div class="col-md-4">
		        	<label><b>Address :- </b></label>
				</div>
				<div class="col-md-8">
		        	<textarea id="address" readonly type="text" class="form-control"></textarea>
				</div>
			</div>
		</div>

		<div class="row mt-4 ml-1 mr-1" >
			<div class="col-md-12 table-responsive" >
				<table class="table table-bordered table-striped"	style="background-color:white; color: black;">
					<thead style="background-color:#F3EBD6;">
						<tr>
							<th scope="col">Barcode</th>
							<th scope="col">Product Name</th>
							<th scope="col">CGST</th>
							<th scope="col">SGST</th>
							<th scope="col">Product Size</th>
							<th scope="col">Available Qty</th>
							<th scope="col">QTY</th>
							<th scope="col">Tax(%)</th>
							<th scope="col">Tax in Amount</th>
							<th scope="col">Selling Price</th>
							<th scope="col">Total Amount</th>
							<th scope="col"></tr>
					</thead>
					<tbody id="addrow">
						<tr>
							<td><input id="barcode" type="text" style="width: 70px;" class="form-control"></td>
							<td>
								<select required id="productSelect" class="form-select form-control" style="width: 90px;" aria-label="Default select example" name="products">
						           <option value="" disabled selected>Choose</option>
								   <option th:each="product : ${products}" th:value="${product.id}" th:text="${product.name}"
							               th:attr="data-price=${product.price},
							                         data-quantity=${product.stock?.quantity},
													 data-tax=${product.stock?.taxInPercentage}">
							       </option>
					           	</select>
							</td>
							<td><input id="cgst" type="text" style="width: 70px;" class="form-control" readonly></td>
							<td><input id="sgst" type="text" style="width: 70px;" class="form-control" readonly></td>
							<td>
								<select required id="sizeSelect" class="form-select form-control" style="width: 90px;" aria-label="Default select example" name="size">
						           <option value="" selected>Choose</option>
								   <option th:each="size : ${sizes}" th:value="${size.sizeValue}" th:text="${size.sizeValue}"></option>
					           	</select>
							</td>
							<td><input id="AQty" type="number" style="width: 70px;" class="form-control" readonly></td>
							<td><input id="Qty" required name="quantity" type="number" style="width: 70px;" class="form-control"></td>
							<td><input id="taxinpercentage" name="taxInPercentage" oninput="calculateTaxAmount()" type="number" style="width: 70px;" class="form-control"></td>
							<td><input id="taxinamount" name="taxInAmount" type="text" style="width: 70px;" class="form-control" readonly></td>
							<td><input id="price" required type="text" style="width: 70px;" class="form-control"></td>
							<td><input id="total_amount" type="text" style="width: 70px;" class="form-control" readonly></td>
							<td>
								<a id="1" class="btn btn-danger" style="background-color: red; color: white;"><b><i class="fa-solid fa-trash"></i></b></a>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
			<div class="col-md-2 mt-2 pb-2">
				<button type="button" class="btn btn-success" id="add" style="color: white;"><b><i class="fa-solid fa-plus"></i> Add Row</b></button>
			</div>
		</div>
		
		<div class="invoice-container mt-3">
		    <div class="container ml-3 mr-3">
		        <div class="row d-flex justify-content-between">
		            <div>
		                <div class="form-group">
		                    <label class="invoice-label">Total amount:</label>
		                    <input id="totalAmountField" type="text" required class="form-control" name="totalAmount" placeholder="Total amount" readonly>
		                </div>
		            </div>
		            <div>
		                <div class="form-group">
		                    <label class="invoice-label">Discount (Rs):</label>
		                    <input id="discountAmountField" type="text" class="form-control" name="discountInAmount"
		                        placeholder="Discount amount" oninput="updatePercentageAmount()">
		                </div>
		            </div>
		            <div>
		                <div class="form-group">
		                    <label class="invoice-label">Discount %:</label>
		                    <input id="discountPercentField" type="text" class="form-control" name="discountInPercentage"
		                        placeholder="Discount %" oninput="updateDiscountedAmount()">
		                </div>
		            </div>
					<div>
						<div class="form-group">
		                    <label class="invoice-label">Charges : </label>
		                    <select id="selectCharges" class="form-control" name="charges" onchange="updateChargesPrice()">
		                        <option value="" disabled selected>Choose</option>
								<option th:each="charge : ${charges}" 
										th:value="${charge.id}" 
										th:text="${charge.name}"
										th:attr="data-chargesPrice=${charge.price}"></option>
		                    </select>
							<input id="chargesPrice" type="hidden" name="" placeholder="charges">
		                </div>
		            </div>					
		        </div>
		        <div class="row">
					<div>
		                <div class="form-group mt-2">
		                    <label class="invoice-label">Payment mode:</label>
		                    <select class="form-control" name="paymentMode" required>
								<option	value="" disabled selected>Choose</option>
		                        <option value="cash">Cash</option>
		                        <option value="cheque">Cheque</option>
		                        <option value="online">Online</option>
		                    </select>
		                </div>
		            </div>
		            <div style="margin-left: 165px;">
		                <div class="form-group mt-2">
		                    <label class="invoice-label">Paid:</label>
		                    <input id="paidAmountField" type="number" required class="form-control" name="amountPaid" placeholder="Amount paid" oninput="updateDues()">
		                </div>
		            </div>
		            <div style="margin-left: 63px;">
		                <div class="form-group mt-2">
		                    <label class="invoice-label">Dues:</label>
		                    <input id="duesAmountField" type="number" required class="form-control" name="dueAmount" placeholder="Dues" readonly>
		                </div>
		            </div>
		            <div style="margin-left: 27px;">
		                <div class="form-group mt-2">
		                    <label class="invoice-label">Net Payment:</label>
		                    <input id="netPaymentField" type="number" required class="form-control" name="netPayment" placeholder="Final Amount" readonly>
		                </div>
		            </div>
		        </div>
		    </div>
		</div>
		<div class="col-md-12 mt-2">
			<div class="text-right mr-6 mt-4">
				<img th:src="${companySignImgPath}" style="height:100px; width: 150px; margin-left: 200px;" alt="Signature">
				<input style="display: none;" name="SignatureImage" class="form-control" id="imageUrl" type="text" th:value="${companySignImgPath}">
			</div>
			
			<div class="row justify-content-center">
				<div class="mr-2">
					<button type="submit" class="btn btn-info text-center" style="color: white; padding: 5px 22px; display: inline-block; font-size: 16px; margin: 4px 2px; cursor: pointer; border-radius: 8px; margin-right: 2%;"><b>Save</b></button>
				</div>
				<div>
					<a th:href="@{'/a2zbilling/admin/sales/list'}"
						style="color: white; padding: 5px 22px; display: inline-block; font-size: 16px; margin: 4px 2px; cursor: pointer; border-radius: 8px; margin-right: 2%;" class="btn btn-info"><b>Cancel</b></a>
				</div>
			</div>
		</div>
	</form>
	<div class="col-md-12 mt-3 text-center">
		<button type="button" class="btn btn-primary" onclick="printBill()">Print Bill</button>
	</div>
</div>
	<!--Add Customer Modal -->
	<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="customerModalLabel" aria-hidden="true">
	  <div class="modal-dialog" role="document">
	    <div class="modal-content">
			<div class="modal-header d-flex justify-content-center" style="background-color:rgb(84,78,131); color: white;">
				<h1 class="modal-title" id="exampleModalLabel">Add Customer</h1>
				<button type="button" class="close" style="color: red;" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
		  <div class="modal-body" style="background-color: #f5f0f0;">
		  <form th:action="@{/a2zbilling/admin/customer/add}" method="post" enctype="multipart/form-data" class="form-group">
		  		<div class="row pb-3">
					<div class="col-md-5 mt-4">
				        <label><b>Customer Name</b></label>
				    </div>
				    <div class="col-md-7 mt-4">
				        <input type="text" required class="form-control" name="name" placeholder="Enter your name">
				    </div>
					
		  		  <div class="col-md-5 mt-4">
						<label><b>Customer email</b></label>
				  </div>
		  		  <div class="col-md-7 mt-4">
		  		  		<input size="50" type="email" required class="form-control" name="email" placeholder="Enter your e-mail">
		  		  </div>
				  
				  <div class="col-md-5 mt-4">
						<label><b>Customer Mobile</b></label>
				  </div>
		  		  <div class="col-md-7 mt-4">
						<input type="text" id="mobile" pattern="[0-9]{10}" required class="form-control" name="mobile" placeholder="Enter your mobile No">
		  		  </div>
				  
		  		  <div class="col-md-5 mt-2">
		  		  		<label><b>Address</b></label>
		  		  </div>
				  <div class="col-md-7 mt-4">
		  		  		<textarea type="text" required class="form-control" name="address" placeholder="Enter your address"></textarea>
		  		  </div>
				  
		  		  <div class="col-md-5 mt-2">
						<label><b>Choose date</b></label>
		  		  </div>
		  		  <div class="col-md-7 mt-4">
						<input type="date" class="form-control" name="addedDate">
		  		  </div>
				  <div class="modal-footer d-flex justify-content-end">
				      <button type="submit" class="btn btn-primary">Add</button>
				      <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
				  </div>	  
		  	</div>
		  </form>
		  </div>
	    </div>
	  </div>
	</div>
	<!-- Add Print Buttons -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.4.0/jspdf.umd.min.js"></script>
	<script>
		// Get the select element
		const chargesSelect = document.getElementById('chargesSelect');
		
		// Add an event listener to handle changes in the select element
		chargesSelect.addEventListener('change', function() {
		  const selectedOptions = Array.from(chargesSelect.selectedOptions);
		  const selectedValues = selectedOptions.map(option => option.value);
		  console.log('Selected values:', selectedValues);
		  // You can perform further actions with the selected values here
		});
		// Function to print the bill
		function printBill() {
			window.print();
		}
	</script>
	
	<script>
		const taxinpercentage = document.getElementById('taxinpercentage');
		const discountAmountField = document.getElementById('discountAmountField');
		const discountPercentField = document.getElementById('discountPercentField');
		
		taxinpercentage.addEventListener('input', function() {
				if(parseFloat(taxinpercentage.value) < 0)
				{
					alert("Please Enter Taxs > 0");
					taxinpercentage.value="";
				}
			});
		discountAmountField.addEventListener('input', function() {
				if(parseFloat(discountAmountField.value) < 0)
				{
					alert("Please Enter Amount > 0");
					discountAmountField.value="";
					discountPercentField.value="";
				}
			});
		discountPercentField.addEventListener('input', function() {
				if(parseFloat(discountPercentField.value) < 0)
				{
					alert("Please Enter Percentage > 0");
					discountAmountField.value="";
					discountPercentField.value="";
				}
			});
		function calculateTaxAmount(input) {
	            var price = parseFloat(document.getElementById('price').value);
	            var quantity = parseFloat(document.getElementById('Qty').value);
				var taxPercent = parseFloat(document.getElementById('taxinpercentage').value);
				
	            var taxAmount = (price * quantity * taxPercent)/100;
				
				var totalAmount = taxAmount + (price*quantity);
				
				document.getElementById('taxinamount').value = taxAmount.toFixed(2);
				document.getElementById('total_amount').value = totalAmount.toFixed(2);
				
				calculateTotalAmount();
				document.getElementById('totalAmountField').value = totalAmount.toFixed(2)
	        }
		function calculateTotalAmount() {
			    let totalAmount = 0;
			    $('#addrow tr').each(function() {
			        let row = $(this);
			        let rowTotalAmount = parseFloat(row.find('#total_amount').val());
			        if (!isNaN(rowTotalAmount)) {
			            totalAmount += rowTotalAmount;
			        }
			    });
			    $('#totalAmountField').val(totalAmount.toFixed(2));
				$('#netPaymentField').val(totalAmount.toFixed(2));
			}	
		function updateDues() {
                var totalAmount = parseFloat(document.getElementById('netPaymentField').value);
                var paidAmount = parseFloat(document.getElementById('paidAmountField').value);
                var discountAmount = parseFloat(document.getElementById('discountAmountField').value);
                var duesAmount = totalAmount - paidAmount;

                if(duesAmount < 0) {
					document.getElementById('duesAmountField').value = 0;
				}
				else{
					// Update the dues amount display
					document.getElementById('duesAmountField').value = duesAmount.toFixed(2);
				}
                
            }
		function calculatePercentageAndNetAmount1() {
				  var totalAmount = parseFloat(totalAmountField.value);
				  var discountAmount = parseFloat(discountAmountField.value);
				  var chargesPrice = parseFloat(document.getElementById('chargesPrice').value);
				
				  // Calculate the discount percentage
				  var discountPercentage = (discountAmount / totalAmount) * 100;
				
				  // Update the net amount
				  var netAmount = totalAmount - discountAmount + chargesPrice;
				
				  // Update the discount percentage display
				  document.getElementById('discountPercentField').value = discountPercentage.toFixed(2);
				
				  // Update the net amount display
				  document.getElementById('netPaymentField').value = netAmount.toFixed(2);
				}
		function updateChargesPrice() {
		            var selectElement = document.getElementById("selectCharges");
		            var selectedOption = selectElement.options[selectElement.selectedIndex];
		            var chargePrice = selectedOption.getAttribute("data-chargesPrice");
		            document.getElementById("chargesPrice").value = chargePrice;
		
		            calculatePercentageAndNetAmount1();
		        }
		function updatePercentageAmount() {
			    const totalAmountField = document.getElementById('totalAmountField');
			    const discountPercentField = document.getElementById('discountPercentField');
			    const discountAmountField = document.getElementById('discountAmountField');
			
			    // Calculate the percentage and net amount initially
			    calculatePercentageAndNetAmount();
			
			    // Add event listener to discountAmountField
			    discountAmountField.addEventListener('input', calculatePercentageAndNetAmount);
			}
			    // Function to calculate percentage and net amount
		function calculatePercentageAndNetAmount() {
			        var totalAmount = parseFloat(totalAmountField.value);
			        var discountAmount = parseFloat(discountAmountField.value) || 0;
			        // Calculate the discount percentage
			        var discountPercentage = (discountAmount / totalAmount) * 100;
			
			        // Update the net amount
			        var netAmount = totalAmount - discountAmount;
			
			        // Update the discount percentage display
			        document.getElementById('discountPercentField').value = discountPercentage.toFixed(2);
			
			        // Update the net amount display
			        document.getElementById('netPaymentField').value = netAmount.toFixed(2);
			    }

		function updateDiscountedAmount(){
				const totalAmountField = document.getElementById('totalAmountField');
		        const discountPercentField = document.getElementById('discountPercentField');
		        const discountAmountField = document.getElementById('discountAmountField');
			        // Calculate the discounted amount initially
		        calculateDiscountAndNetAmount();
		
		        // Add event listener to discountPercentField
		        discountPercentField.addEventListener('input', calculateDiscountAndNetAmount);
		
            }
    
			// Function to calculate discounted amount and net amount
	        function calculateDiscountAndNetAmount() {
	            var totalAmount = parseFloat(totalAmountField.value);
	            var discountAmount = parseFloat(discountAmountField.value);
	            var discountPercent = parseFloat(discountPercentField.value);

	            var discountedAmount = discountAmount;
	            if (!isNaN(discountPercent)) {
	                discountedAmount = (totalAmount * discountPercent) / 100;
	            }
				else {
				        discountedAmount = 0; // Set discounted amount to 0 if discountPercent is not a number
				    }
	
	            // Update the net amount
	            var netAmount = totalAmount - discountedAmount;
	
	            // Update the discounted amount display
	            document.getElementById('discountAmountField').value = discountedAmount.toFixed(2);
	
	            // Update the net amount display
	            document.getElementById('netPaymentField').value = netAmount.toFixed(2);
	        }

			$(document).ready(function(){
			   // Event listener for changing the selected option in the dropdown
			   $('#productSelect').change(function() {
			       var selectedOption = $(this).find('option:selected');
			       var price = selectedOption.data('price');
			       var AQty = selectedOption.data('quantity');
				   var Cgst = selectedOption.data('cgst');
				   var tax = selectedOption.data('tax');
				   var Sgst = selectedOption.data('sgst');				   
				   
				   if(AQty == null)
				   {
					AQty = 0;
				   }
				   if(Cgst == null)
				   {
					Cgst = 0;
   				   }
				   if(Sgst == null)
   				   {
   					Sgst = 0;
      			   }
				   if(tax == null)
				    {
				    	tax = 0;
				     }
				   
			       $('#price').val(price);
				   $('#taxinpercentage').val(tax);
				   $('#AQty').val(AQty);
				   $('#cgst').val(Cgst);
				   $('#sgst').val(Sgst);
			   });
			});
		</script>
	<script>
	$(document).ready(function(){
		
	   // Event listener for changing the selected option in the dropdown
	   $('#customerSelect').change(function() {
	       var selectedOption = $(this).find('option:selected');
	       var phone = selectedOption.data('mobile');
	       var email = selectedOption.data('email');
		   var address = selectedOption.data('address');
	       
	       $('#mobile1').val(phone);
	       $('#email1').val(email);
		   $('#address').val(address);
	   });
	});
	</script>
	<script>
	    // Get references to the input fields
	    const totalAmountInput = document.getElementById('total_amount');
	    const totalAmountField = document.getElementById('totalAmountField');
		const sellingPriceInput = document.getElementById('price');
		const QtyInput = document.getElementById('Qty');
		const AQtyInput = document.getElementById('AQty');
		
		QtyInput.addEventListener('input', function() {
			if(parseFloat(AQtyInput.value) < parseFloat(QtyInput.value))
			{
				alert("Please Enter Quantity less than Available Quantity");
				QtyInput.value=	parseFloat(AQtyInput.value);
			}
			else calculateTaxAmount();
		});
		QtyInput.addEventListener('input', function() {
			if(parseFloat(QtyInput.value) < 0)
			{
				alert("Please enter quantity greater than 0");
				QtyInput.value="";
			}
			else calculateTaxAmount();
			
		});
	    // Add an event listener to the first input field
	    totalAmountInput.addEventListener('input', function() {
	        // Set the value of the second input field to the value entered in the first input field
	        totalAmountField.value = this.value;
	    });
	</script>
	<script type="text/javascript">
		$(document).ready(function() {
			var i = 1; // Initialize counter for row IDs
			
			// Function to add event listeners to a specific row
			window.calculateTaxAmount2 = function(index) {
			        $(`#Qty${index}`).on('input', function() {
			            var AQty = parseFloat($(`#AQty${index}`).val()) || 0;
			            var Qty = parseFloat($(`#Qty${index}`).val()) || 0;
						var TaxInPercentage = parseFloat($(`#taxinpercentage${index}`).val()) || 0;
			
			            if (Qty > AQty) {
			                alert("Please enter quantity less than available quantity");
			                $(this).val(AQty);
			            } else if (Qty < 0) {
			                alert("Please enter quantity greater than 0");
			                $(this).val(0);
			            }
						if(TaxInPercentage < 0)
						{
							alert("Please enter Tax greater than 0");
							$(this).val(0);
						}
						
			            calculateTaxAmount1(index);
			        });
			   }
			
		    // Add new row when "Add Row" button is clicked
		    $('#add').click(function() {
		        i++; // Increment counter for new row ID
		        var opts = $("#productSelect").html();
				var size = $("#sizeSelect").html();
		        $('#addrow').append(`
		            <tr id="row${i}">
		                <td><input id="barcode${i}" type="text" class="form-control"></td>
		                <td>
		                    <select required id="productSelect${i}" class="form-select form-control" aria-label="Default select example" name="products">
		                        ${opts}
		                    </select>
		                </td>
		                <td><input id="cgst${i}" type="text" class="form-control" readonly></td>
		                <td><input id="sgst${i}" type="text" class="form-control" readonly></td>
		                <td>
							<select required id="sizeSelect" class="form-select form-control" style="width: 90px;" aria-label="Default select example" name="size">
								${size}
				           	</select>
						</td>
		                <td><input id="AQty${i}" type="number" class="form-control" readonly></td>
		                <td><input id="Qty${i}" required name="quantity" type="number" oninput="calculateTaxAmount1(${i})" class="form-control"></td>
		                <td><input id="taxinpercentage${i}" name="taxInPercentage" oninput="calculateTaxAmount1(${i})" type="number" class="form-control"></td>
		                <td><input id="taxinamount${i}" name="taxInAmount" type="text" class="form-control" readonly></td>
		                <td><input id="price${i}" required type="text" class="form-control"></td>
		                <td><input id="total_amount${i}" type="text" class="form-control" readonly></td>
		                <td>
		                    <a id="${i}" class="btn btn-danger remove_row" style="background-color: red; color: white;"><b><i class="fa-solid fa-trash"></i></b></a>
		                </td>
		            </tr>
		        `);
		        // Call the function to add the change event listener for the newly added row
		        addChangeListener(i);
		    });
		    // Function to add change event listener for product selection
		    function addChangeListener(index) {
		        $(`#productSelect${index}`).change(function() {
		            var selectedOption = $(this).find('option:selected');
		            var price = selectedOption.data('price');
		            var quantity = selectedOption.data('quantity');
		            var size = selectedOption.data('size');
					var tax = selectedOption.data('tax');
					var Cgst = selectedOption.data('cgst');
					var Sgst = selectedOption.data('sgst');
					if(quantity == null)
					   {
							quantity = 0;
					   }
					if(tax == null)
   					   {
						tax = 0;
   					   }
					if(Cgst == null)
	   				   {
	   					Cgst = 0;
      				   }
   				   if(Sgst == null)
      				   {
      					Sgst = 0;
         			   }
		            $(`#price${index}`).val(price);
		            $(`#AQty${index}`).val(quantity);
		            $(`#size${index}`).val(size);
					$(`#taxinpercentage${index}`).val(tax);
					$(`#cgst${index}`).val(Cgst);
					$(`#sgst${index}`).val(Sgst);
		        });
		    }
			// Function to calculate tax amount and total amount
			window.calculateTaxAmount1 = function(index) {
	            var price = parseFloat($(`#price${index}`).val()) || 0;
	            var Qty = parseFloat($(`#Qty${index}`).val()) || 0;
	            var taxPercent = parseFloat($(`#taxinpercentage${index}`).val()) || 0;
				var AQty = parseFloat($(`#AQty${index}`).val() || 0);
				
				if (Qty > AQty) {
	                alert("Please enter quantity less than available quantity");
					$(`#Qty${index}`).val(AQty);
					return;
	            } else if (Qty < 0) {
	                alert("Please enter quantity greater than 0");
					$(`#Qty${index}`).val(0);
					return;
	            }

	            var taxAmount = (price * Qty * taxPercent) / 100;
	            var totalAmount = (price * Qty) + taxAmount;
	
	            $(`#taxinamount${index}`).val(taxAmount.toFixed(2));
	            $(`#total_amount${index}`).val(totalAmount.toFixed(2));
				
				// Update the overall total amount
				calculateOverallTotal();
	        };
			
			// Function to calculate the overall total amount for all rows
	        function calculateOverallTotal() {
				var overallTotal = 0;
				
			    $('#addrow tr').each(function() {
			        var totalAmount = parseFloat($(this).find('[id^="total_amount"]').val()) || 0;
			        overallTotal += totalAmount;
			    });
			
			    $('#totalAmountField').val(overallTotal.toFixed(2));
	        }
		    // Remove row when "Remove" button is clicked
		    $(document).on('click', '.remove_row', function() {
		        var row_id = $(this).attr('id');
		        $(`#row${row_id}`).remove();
				
				calculateOverallTotal();
		    });
		});
	</script>
	<script>
        // Get the current date
        var currentDate = new Date();
        // Format the date as desired (e.g., "2024-04-26")
        var formattedDate = currentDate.toISOString().split('T')[0];
        // Set the value of the input field to the formatted date
        document.getElementById('currentDateInput').value = formattedDate;
	 </script>
	 <style>
 			.invoice-container {
 				width: 100%;
 				padding: 20px;
 				border: 2px solid #ccc;
 				border-radius: 10px;
 				background-color: #f9f9f9;
 				box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
 				text-align: left;
 				display: flex;
 				flex-direction: row;
 				flex-wrap: wrap;
 				justify-content: space-between;
 			}
 			.invoice-field {
 				flex-basis: calc(50% - 10px);
 				margin-bottom: 10px;
 				box-sizing: border-box;
 				padding: 10px;
 				border: 1px solid #ccc;
 				border-radius: 5px;
 			}
 
 			.invoice-label {
 				font-weight: bold;
 			}
 
 			.invoice-value {
 				margin-left: 10px;
 			}
	 		</style>
</section>
</body>
</html>