<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org" th:replace="fragments/base::layout(~{::section})">
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
		<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
	</head>
<section>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	
	<script src="https://kit.fontawesome.com/0faddc1af8.js" crossorigin="anonymous"></script>
	<script>	
		function deleteContactAlert(id) {

			const swalWithBootstrapButtons = Swal.mixin({
				customClass: {
					confirmButton: 'btn btn-success',
					cancelButton: 'btn btn-danger'
				},
				buttonsStyling: false
			})

			swalWithBootstrapButtons.fire({
				title: 'Are you sure?',
				text: "You won't be able to revert this!",
				icon: 'warning',
				showCancelButton: true,
				confirmButtonText: 'Yes, delete it!',
				cancelButtonText: 'No, cancel!',
				reverseButtons: true
			}).then((result) => {
				if (result.isConfirmed) {


					window.location = "/a2zbilling/admin/supplier/delete/" + id + " ";


					swalWithBootstrapButtons.fire(
						'Sale Deleted Successfully !',

					)
				} else if (
					/* Read more about handling dismissals below */
					result.dismiss === Swal.DismissReason.cancel
				) {
					swalWithBootstrapButtons.fire(
						'Cancelled',
						'Sale Not deleted',
						'error'
					)
				}
			})

		}
	</script>
	<div th:if="${session.message}">
		<div class="alert alert-primary" role="alert">
			<p th:text="${session.message}"></p>
			<script th:inline="javascript">
				setTimeout(function () {
					window.location.href = '/a2zbilling/admin/clearSessionAttribute';
				}, 500);
			</script>
		</div>
	</div>
<div class="contaier-fluid pb-2" style="background-color: #f5f0f0;">
	<div class="row" style="background-color: rgb(84,78,130); color: #fff;">
        <div class="col-md-12">
            <h1 class="text-center mt-2"><b>SALES RETURN</b></h1>
        </div>
    </div>
	<form th:action="@{/a2zbilling/admin/sales/return}" method="post" th:object="${sale}"
								enctype="multipart/form-data" class="form-group">
			<div class="row">
				<div class="col-md-4 mt-3 input-group">
					<input type="hidden" name="id" th:field="*{id}" />
					<div class="col-md-4">
			        	<label>Customer Name :- </label>
					</div>
					<div class="col-md-8">
						<select id="customerSelect" class="form-select form-control" th:field="*{customer}" aria-label="Default select example" name="customer">
							<option value=""  selected>Choose</option>
				            <!-- Dynamically populate options with customer data -->
				            <option th:each="customer:${customers}" 
									th:value="${customer.id}" 
									th:text="${customer.name}" 
									th:attr="data-mobile=${customer.mobile}, 
										data-email=${customer.email},
										data-address=${customer.address}">
							</option>
				        </select>
					</div>
				</div>
		
			    <div class="col-md-4 mt-3 input-group">
					<div>
			        	<label>Mobile:- </label>
					</div>
					<div>
			        	<input id="mobile" readonly type="text" class="form-control" th:field="*{customer.mobile}">
					</div>
			    </div>
				<div class="col-md-4 mt-1 input-group ml-auto">
					<div class="col-md-6">
		               <label>Sale Bill No. :- </label>
					</div>
					<div class="col-md-6">
					   <input type="text" readonly class="form-control" id="invoiceNo" name="saleBillNo" th:field="*{saleBillNo}">
				 	</div>
	           </div>
			</div>
			<div class="row">
			    <div class="col-md-4 mt-1 input-group">
					<div class="col-md-4">
			        	<label>Email:- </label>
					</div>
					<div class="col-md-8">
			        	<input id="email" readonly type="email" class="form-control" th:field="*{customer.email}">
					</div>
			    </div>
				<div class="col-md-4 mt-1 input-group ml-auto">
					<div class="col-md-6">
						<label>Sale Bill Date:- </label>
					</div>
					<div class="col-md-6">
	   			   		<input type="date" class="form-control" id="sellDate" th:field="*{date}">
					</div>
   	           </div>
			</div>
			
			<div class="row">
				<div class="col-md-4 mt-1 input-group">
					<div class="col-md-4">
			        	<label>Address :- </label>
					</div>
					<div class="col-md-8">
			        	<textarea id="address" readonly type="text" class="form-control" th:field="*{customer.address}"></textarea>
					</div>
				</div>
			</div>	 

		<div class="row mt-4 ml-1 mr-1" >
			<div class="col-md-12 table-responsive" >
				<table class="table table-bordered table-striped" style="background-color:white; color: black;">
				    <thead style="background-color: #F3EBD6;">
				        <tr>
				            <th scope="col">Barcode</th>
				            <th scope="col">Product Name</th>
				            <th scope="col">CGST</th>
				            <th scope="col">SGST</th>
				            <th scope="col">Product Size</th>
				            <th scope="col">Available Qty</th>
				            <th scope="col">QTY</th>
				            <th scope="col">Tax(%)</th>
				            <th scope="col">Tax in Amount</th>
				            <th scope="col">Selling Price</th>
				            <th scope="col">Total Amount</th>
				            <th scope="col"> </tr>
				        </tr>
				    </thead>
					<tbody id="addrow">
					    <tr th:each="product,iterStat : ${sale.products}">
					        <td><input id="barcode" style="width: 70px;" type="text" class="form-control"></td>
					        <td>
					            <select required id="productSelect" style="width: 90px;" name="products" class="form-select form-control" aria-label="Default select example" onchange="updateProductDetails(this)">
					                <option value="" selected>Choose</option>
					                <option th:each="p : ${products}" 
					                        th:value="${p.id}" 
					                        th:text="${p.name}"
					                        th:attr="data-price=${p.price}, data-quantity=${p.stock?.quantity}, data-size=${p.size?.sizeValue}, data-tax=${p.stock?.taxInPercentage}"
					                        th:selected="${p.id} == ${product.id}">
					                </option>
					            </select>
					        </td>
					        <td><input id="cgst" style="width: 70px;" th:value="${product?.gst?.cgstRate ?: '0'}" type="text" class="form-control" readonly></td>
					        <td><input id="sgst" style="width: 70px;" th:value="${product?.gst?.sgstRate ?: '0'}" type="text" class="form-control" readonly></td>
					        <td>
								<select required id="sizeSelect" class="form-select form-control" style="width: 90px;" aria-label="Default select example" name="size">
						           <option value="" selected>Choose</option>
								   <option	th:each="size : ${sizes}"
								   			th:value="${size.sizeValue}" 
											th:text="${size.sizeValue}"
											th:selected="${size.sizeValue} == ${#strings.arraySplit(sale?.size, ',')[iterStat.index]}"
									></option>
					           	</select>
							</td>
					        <td><input id="AQty" style="width: 70px;" type="number" th:value="${product?.stock?.quantity ?: '0'}" class="form-control" readonly></td>
					        <td><input id="Qty" required style="width: 70px;" type="number" name="quantity" th:value="${#strings.arraySplit(sale?.quantity, ',')[iterStat.index]}" class="form-control"  oninput="calculatetaxInAmountAndTotalAmount(this)"></td>
					        <td><input id="taxinpercentage" style="width: 70px;" name="taxInPercentage" type="number" th:value="${#strings.arraySplit(sale?.taxInPercentage, ',')[iterStat.index]}" class="form-control" oninput="calculatetaxInAmountAndTotalAmount(this)"></td>
					        <td><input id="taxinamount" style="width: 70px;" name="taxInAmount" type="text" class="form-control" readonly th:value="${#strings.arraySplit(sale?.taxInAmount, ',')[iterStat.index]}"></td>
					        <td><input id="price" required style="width: 70px;" type="text" th:value="${product?.price}" class="form-control"></td>
					        <td><input id="total_amount" style="width: 70px;" class="form-control" type="text" readonly></td>
					        <td>
					            <a id="deleteBtn" class="btn btn-danger" style="background-color: red; color: white;"><b><i class="fa-solid fa-trash"></i></b></a>
					        </td>
					    </tr>
					</tbody>
				</table>
			</div>
			<div class="col-md-2 mt-2 pb-2">
				<button type="button" class="btn btn-success" id="add" style="color: white;"><b><i class="fa-solid fa-plus"></i> Add Row</b></button>
			</div>
		</div>
		<div class="invoice-container mt-3 ml-1 mr-1">
		    <div class="container">
		        <div class="row d-flex justify-content-between">
		            <div>
		                <div class="form-group">
		                    <label class="invoice-label">Total amount:</label>
		                    <input id="totalAmountField" type="text" required class="form-control" name="totalAmount"
		                        placeholder="Total amount" readonly th:field="*{totalAmount}">
		                </div>
		            </div>
		            <div>
		                <div class="form-group">
		                    <label class="invoice-label">Discount (Rs):</label>
		                    <input id="discountAmountField" type="text" class="form-control" name="discountInAmount"
		                        placeholder="Discount amount" oninput="updatePercentageAmount()" th:field="*{discountInAmount}">
		                </div>
		            </div>
		            <div>
		                <div class="form-group">
		                    <label class="invoice-label">Discount %:</label>
		                    <input id="discountPercentField" type="text" class="form-control" name="discountInPercentage"
		                        placeholder="Discount %" oninput="updateDiscountedAmount()" th:field="*{discountInPercentage}">
		                </div>
		            </div>
					<div>
						<div class="form-group">
		                    <label class="invoice-label">Charges : </label>
		                    <select id="selectCharges" class="form-control" name="charges" onchange="updateChargesPrice()">
								<option value="" data-chargesPrice="0">Choose</option>
								<option th:each="charge : ${charges}" 
										th:value="${charge.id}" 
										th:text="${charge.name}"
										th:attr="data-chargesPrice=${charge.price}"></option>
		                    </select>
							<input id="chargesPrice" type="hidden" name="" placeholder="charges">
		                </div>
		            </div>
		        </div>
		        <div class="row">
					<div>
		                <div class="form-group mt-2">
		                    <label class="invoice-label">Payment mode:</label>
		                    <select class="form-control" name="paymentMode" required th:field="*{paymentMode}">
								<option value="" disabled selected>Choose</option>
								<option value="cash">Cash</option>
		                        <option value="cheque">Cheque</option>
		                        <option value="online">Online</option>
		                    </select>
		                </div>
		            </div>
		            <div style="margin-left: 170px;">
		                <div class="form-group mt-2">
		                    <label class="invoice-label">Paid:</label>
		                    <input id="paidAmountField" type="number" required class="form-control" name="amountPaid" placeholder="Amount paid" oninput="updateDues()" th:field="*{amountPaid}">
		                </div>
		            </div>
		            <div style="margin-left: 89px;">
		                <div class="form-group mt-2">
		                    <label class="invoice-label">Dues:</label>
		                    <input id="duesAmountField" type="number" required class="form-control" name="dueAmount" placeholder="Dues" readonly th:field="*{dueAmount}">
		                </div>
		            </div>
		            <div style="margin-left: 69px;">
		                <div class="form-group mt-2">
		                    <label class="invoice-label">Net Payment:</label>
		                    <input id="netPaymentField" type="number" required class="form-control" name="netPayment" placeholder="Final Amount" readonly th:field="*{netPayment}">
		                </div>
		            </div>
		        </div>
		    </div>
		</div>
		
		<div class="col-md-12 mt-2">
			<div class="text-right mr-6 mt-4">
				<img th:src="${companySignImgPath}" style="height:100px; width: 150px; margin-left: 200px;" alt="Signature">
				<input style="display: none;" name="SignatureImage" class="form-control" id="imageUrl" type="text" th:value="${companySignImgPath}">
			</div>
			
			<div class="row justify-content-center">
				<div class="mr-2">
					<button type="submit" class="btn btn-info text-center" style="color: white; padding: 5px 22px; display: inline-block; font-size: 16px; margin: 4px 2px; cursor: pointer; border-radius: 8px; margin-right: 2%;"><b>Save</b></button>
				</div>
				<div>
					<a th:href="@{'/a2zbilling/admin/sales/list'}"
						style="color: white; padding: 5px 22px; display: inline-block; font-size: 16px; margin: 4px 2px; cursor: pointer; border-radius: 8px; margin-right: 2%;" class="btn btn-info"><b>Cancel</b></a>
				</div>
			</div>
		</div>
	</form>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
	function calculatePercentageAndNetAmount1() {
			  var totalAmount = parseFloat(totalAmountField.value) || 0;
			  var discountAmount = parseFloat(discountAmountField.value) || 0;
			  var chargesPrice = parseFloat(document.getElementById('chargesPrice').value) || 0;
			
			  // Calculate the discount percentage
			  var discountPercentage = (discountAmount / totalAmount) * 100;
			
			  // Update the net amount
			  var netAmount = totalAmount - discountAmount + chargesPrice;
			
			  // Update the discount percentage display
			  document.getElementById('discountPercentField').value = discountPercentage.toFixed(2);
			
			  // Update the net amount display
			  document.getElementById('netPaymentField').value = netAmount.toFixed(2);
			  updateDues();
			}
	function updateChargesPrice() {
	            var selectElement = document.getElementById("selectCharges");
	            var selectedOption = selectElement.options[selectElement.selectedIndex];
	            var chargePrice = selectedOption.getAttribute("data-chargesPrice");
	            document.getElementById("chargesPrice").value = chargePrice;
	
	            calculatePercentageAndNetAmount1();
	        }
	function updateProductDetails(selectElement) {
	    const selectedOption = selectElement.options[selectElement.selectedIndex];
	    const price = selectedOption.getAttribute('data-price');
	    const quantity = selectedOption.getAttribute('data-quantity');
	    const size = selectedOption.getAttribute('data-size');
	    const tax = selectedOption.getAttribute('data-tax');
	
	    const row = selectElement.closest('tr');
	
	    row.querySelector('#price').value = price;
	    row.querySelector('#AQty').value = quantity;
	    row.querySelector('#size').value = size;
	    row.querySelector('#taxinpercentage').value = tax;
	
	    // Optionally update the taxinamount and total_amount fields if needed
	    calculatetaxInAmountAndTotalAmount(row.querySelector('#Qty'));
		updateDues();
	}
</script>

<script>	
    $(document).ready(function() {
        $('#addrow').on('click', '#deleteBtn', function() {
            $(this).closest('tr').remove();
			calculateTotalAmount();
			updateNetPayment();
        });
		calculateTotalAmountOnLoad();
		calculateTotalAmount();
		
		$('#totalAmountField, #discountAmountField').on('input', updateNetPayment);
		
	   $('#paidAmountField').on('input', updateDues);
    });
	
	function updateNetPayment() {
	    let totalAmount = parseFloat($('#totalAmountField').val()) || 0;
	    let discountAmount = parseFloat($('#discountAmountField').val()) || 0;
	    let paidAmount = parseFloat($('#paidAmountField').val()) || 0;
		var chargesPrice = parseFloat(document.getElementById('chargesPrice').value) || 0;
		
	    let netPayment = totalAmount - discountAmount + chargesPrice;
	    let dues = netPayment - paidAmount;
	
	    $('#netPaymentField').val(netPayment.toFixed(2));
	    updateDues();
	}
	function calculatetaxInAmountAndTotalAmount(input) {
	        var row = $(input).closest('tr');
	        var price = parseFloat(row.find('#price').val()) || 0;
			var AQty = parseFloat(row.find('#AQty').val()) || 0;
	        var qty = parseFloat(row.find('#Qty').val()) || 0;
	        var taxPercentage = parseFloat(row.find('#taxinpercentage').val());
			if(qty > AQty)
			{
				alert("Please Enter Quantity less than Available Quantity");
				row.find('#Qty').val(AQty);
				qty = AQty;
			}
			if(taxPercentage < 0)
			{
				alert("Please Enter Taxs > 0");
				row.find('#taxinamount').val(0.00);
				row.find('#taxinpercentage').val(0);
				taxPercentage = 0;
			}
			if(qty < 0)
			{
				alert("Please Enter Quantity > 0");
				row.find('#Qty').val(0);
				row.find('#total_amount').val(0.00);
				qty = 0;
			}
	        var taxAmount = (price * qty * (taxPercentage / 100));
	        row.find('#taxinamount').val(taxAmount.toFixed(2));
	
	        var totalAmount = (price * qty) + taxAmount;
	        row.find('#total_amount').val(totalAmount.toFixed(2));
			
			calculateTotalAmount();
	    }
		function calculateTotalAmountOnLoad() {
	        $('#addrow tr').each(function() {
	            var row = $(this);
	            var AQty = parseFloat(row.find('#AQty').val());
	            var Qty = parseFloat(row.find('#Qty').val());
	            var price = parseFloat(row.find('#price').val());
	            var taxPercentage = parseFloat(row.find('#taxinpercentage').val());
	
	            var taxAmount = (price * Qty * (taxPercentage / 100));
	            row.find('#taxinamount').val(taxAmount.toFixed(2));
	
	            var totalAmount = (price * Qty) + taxAmount;
	            row.find('#total_amount').val(totalAmount.toFixed(2));
	        });
			calculateTotalAmount();
	    }
	function calculateTotalAmount() {
	    let totalAmount = 0;
	    $('#addrow tr').each(function() {
	        let row = $(this);
	        let rowTotalAmount = parseFloat(row.find('#total_amount').val());
	        if (!isNaN(rowTotalAmount)) {
	            totalAmount += rowTotalAmount;
	        }
	    });
	    $('#totalAmountField').val(totalAmount.toFixed(2));
		updateDues();
	}
</script>
<script>
		const taxinpercentage = document.getElementById('taxinpercentage');
		const discountAmountField = document.getElementById('discountAmountField');
		const discountPercentField = document.getElementById('discountPercentField');
		const taxinAmount = document.getElementById('taxinamount')
		taxinpercentage.addEventListener('input', function() {
				if(parseFloat(taxinpercentage.value) < 0)
				{
					alert("Please Enter Taxs > 0");
					taxinpercentage.value=0;
					taxinAmount.value=0;
				}
			});
		discountAmountField.addEventListener('input', function() {
				if(parseFloat(discountAmountField.value) < 0)
				{
					alert("Please Enter Amount > 0");
					discountAmountField.value="";
					discountPercentField.value="";
				}
			});
		discountPercentField.addEventListener('input', function() {
				if(parseFloat(discountPercentField.value) < 0)
				{
					alert("Please Enter Percentage > 0");
					discountAmountField.value="";
					discountPercentField.value="";
				}
			});
		function updateDues() {
            var totalAmount = parseFloat(document.getElementById('totalAmountField').value) || 0;
            var paidAmount = parseFloat(document.getElementById('paidAmountField').value) || 0;
            var discountAmount = parseFloat(document.getElementById('discountAmountField').value) || 0;
			var chargesPrice = parseFloat(document.getElementById('chargesPrice').value) || 0;
            var duesAmount = totalAmount - paidAmount - discountAmount + chargesPrice;

            if (duesAmount < 0) {
				duesAmount = 0;
            }
            document.getElementById('duesAmountField').value = duesAmount.toFixed(2);
			updateNetPayment();
        }
		function updatePercentageAmount() {
		    const totalAmountField = document.getElementById('totalAmountField');
		    const discountPercentField = document.getElementById('discountPercentField');
		    const discountAmountField = document.getElementById('discountAmountField');
		
		    // Calculate the percentage and net amount initially
		    calculatePercentageAndNetAmount();
		
		    // Add event listener to discountAmountField
		    discountAmountField.addEventListener('input', calculatePercentageAndNetAmount);
		}
		// Function to calculate percentage and net amount
	    function calculatePercentageAndNetAmount() {
	        var totalAmount = parseFloat(totalAmountField.value) || 0;
	        var discountAmount = parseFloat(discountAmountField.value) || 0;			
			var chargesPrice = parseFloat(document.getElementById('chargesPrice').value) || 0;
	
	        // Calculate the discount percentage
	        var discountPercentage = (discountAmount / totalAmount) * 100;
	
	        // Update the net amount
	        var netAmount = totalAmount - discountAmount + chargesPrice;
	
	        // Update the discount percentage display
	        document.getElementById('discountPercentField').value = discountPercentage.toFixed(2);
	
	        // Update the net amount display
	        document.getElementById('netPaymentField').value = netAmount.toFixed(2);
			updateDues();
	    }

		function updateDiscountedAmount(){
				const totalAmountField = document.getElementById('totalAmountField');
		        const discountPercentField = document.getElementById('discountPercentField');
		        const discountAmountField = document.getElementById('discountAmountField');
		
		        // Calculate the discounted amount initially
		        calculateDiscountAndNetAmount();
		
		        // Add event listener to discountPercentField
		        discountPercentField.addEventListener('input', calculateDiscountAndNetAmount);
            }
			// Function to calculate discounted amount and net amount
	        function calculateDiscountAndNetAmount() {
	            var totalAmount = parseFloat(totalAmountField.value) || 0;
	            var discountAmount = parseFloat(discountAmountField.value) || 0;
	            var discountPercent = parseFloat(discountPercentField.value) || 0;
				var chargesPrice = parseFloat(document.getElementById('chargesPrice').value) || 0;

	            var discountedAmount = discountAmount;
	            if (!isNaN(discountPercent)) {
	                discountedAmount = (totalAmount * discountPercent) / 100;
				}else {
				        discountedAmount = 0; // Set discounted amount to 0 if discountPercent is not a number
				    }
	
	            // Update the net amount
	            var netAmount = totalAmount - discountedAmount + chargesPrice;
	
	            // Update the discounted amount display
	            document.getElementById('discountAmountField').value = discountedAmount.toFixed(2);
	
	            // Update the net amount display
	            document.getElementById('netPaymentField').value = netAmount.toFixed(2);
				updateDues();
	        }
		
			$(document).ready(function(){
			   // Event listener for changing the selected option in the dropdown
			   $('#productSelect').change(function() {
			       var selectedOption = $(this).find('option:selected');
			       var price = selectedOption.data('price');
				   var size = selectedOption.data('size');
				   var tax = selectedOption.data('tax');
			       var AQty = selectedOption.data('quantity');
				  
				   if(AQty == null)
				   {
					AQty = 0;
				   }
				   
			       $('#price').val(price);
				   $('#size').val(size);
				   $('#taxinpercentage').val(tax);
				   $('#AQty').val(AQty);
			   });
			});
		</script>
	<script>
	$(document).ready(function(){
		
	   // Event listener for changing the selected option in the dropdown
	   $('#customerSelect').change(function() {
	       var selectedOption = $(this).find('option:selected');
	       var phone = selectedOption.data('mobile');
	       var email = selectedOption.data('email');
		   var address = selectedOption.data('address');
	       
	       $('#mobile').val(phone);
	       $('#email').val(email);
		   $('#address').val(address);
	   });
	});
	</script>
	
	
	
	<script type="text/javascript">
			$(document).ready(function() {
				var i = 1; // Initialize counter for row IDs
				
			    // Add new row when "Add Row" button is clicked
			    $('#add').click(function() {
			        i++; // Increment counter for new row ID
			        var opts = $("#productSelect").html();
					var size = $("#sizeSelect").html();
			        $('#addrow').append(`
			            <tr id="row${i}">
			                <td><input id="barcode${i}" type="text" class="form-control"></td>
			                <td>
			                    <select id="productSelect${i}" class="form-select form-control" aria-label="Default select example"	onchange="calculateTaxAmount1(${i})" name="products" >
			                        ${opts}
			                    </select>
			                </td>
			                <td><input id="cgst${i}" type="text" class="form-control" readonly></td>
			                <td><input id="sgst${i}" type="text" class="form-control" readonly></td>
			                <td>
								<select required id="sizeSelect" class="form-select form-control" style="width: 90px;" aria-label="Default select example" name="size">
									${size}
					           	</select>
							</td>
			                <td><input id="AQty${i}" type="number" class="form-control" readonly></td>
			                <td><input id="Qty${i}" name="quantity" type="number" oninput="calculateTaxAmount1(${i})" class="form-control"></td>
			                <td><input id="taxinpercentage${i}" name="taxInPercentage" oninput="calculateTaxAmount1(${i})" type="number" class="form-control"></td>
			                <td><input id="taxinamount${i}" name="taxInAmount" type="text" class="form-control" readonly></td>
			                <td><input id="price${i}" type="text" class="form-control" readonly></td>
			                <td><input id="total_amount${i}" type="text" class="form-control" readonly></td>
			                <td>
			                    <a id="${i}" class="btn btn-danger remove_row" style="background-color: red; color: white;"><b><i class="fa-solid fa-trash"></i></b></a>
			                </td>
			            </tr>
			        `);
			
			        // Call the function to add the change event listener for the newly added row
			        addChangeListener(i);
					calculateTotalAmount();
					
			    });
				
				function calculateTotalAmount() {
				    let totalAmount = 0;
				    $('#addrow tr').each(function() {
				        let row = $(this);
				        let rowTotalAmount = parseFloat(row.find('input[id^="total_amount"]').val()) || 0;
				        if (!isNaN(rowTotalAmount)) {
				            totalAmount += rowTotalAmount;
				        }
				    });
				    $('#totalAmountField').val(totalAmount.toFixed(2));
				    updateNetPayment(); // Call updateNetPayment after updating the total amount
					
				}
				function updateNetPayment() {
						updateDiscountedAmount();
					    let totalAmount = parseFloat($('#totalAmountField').val()) || 0;
					    let discountAmount = parseFloat($('#discountAmountField').val()) || 0;
					    let paidAmount = parseFloat($('#paidAmountField').val()) || 0;
					
					    let netPayment = totalAmount - discountAmount;
					    let dues = netPayment - paidAmount;
					
					    $('#netPaymentField').val(netPayment.toFixed(2));
					    $('#duesAmountField').val(dues.toFixed(2));
					}
			    // Function to add change event listener for product selection
			    function addChangeListener(index) {
			        $(`#productSelect${index}`).change(function() {
			            var selectedOption = $(this).find('option:selected');
			            var price = selectedOption.data('price');
			            var quantity = selectedOption.data('quantity');
						var tax = selectedOption.data('tax');
			            var size = selectedOption.data('size');
						var Cgst = selectedOption.data('cgst');
						var Sgst = selectedOption.data('sgst');
						
						if(Cgst == null)
		   				   {
		   					Cgst = 0;
	      				   }
	   				   if(Sgst == null)
	      				   {
	      					Sgst = 0;
	         			   }
						   
						$(`#cgst${index}`).val(Cgst);
						$(`#sgst${index}`).val(Sgst);
			            $(`#price${index}`).val(price);
			            $(`#AQty${index}`).val(quantity);
						$(`#taxinpercentage${index}`).val(tax);
			            $(`#size${index}`).val(size);
			        });
			    }
				
				// Function to calculate tax amount and total amount
		        window.calculateTaxAmount1 = function(index) {
		            var price = parseFloat($(`#price${index}`).val()) || 0;
		            var Qty = parseFloat($(`#Qty${index}`).val()) || 0;
		            var taxPercent = parseFloat($(`#taxinpercentage${index}`).val()) || 0;
					var AQty = parseFloat($(`#AQty${index}`).val()) || 0;
					
					if (Qty > AQty) {
		                alert("Please enter quantity less than available quantity");
						$(`#Qty${index}`).val(AQty);
						
						
		            } else if (Qty < 0) {
		                alert("Please enter quantity greater than 0");
						$(`#Qty${index}`).val(0);
						$(`#total_amount${index}`).val(0);
						
		            }
					if(taxPercent < 0)
					{
						alert("Please enter Tax greater than 0");
						$(`#taxinpercentage${index}`).val(0);
						$(`#taxinamount${index}`).val(0);
						
					}

		            var taxAmount = (price * Qty * taxPercent) / 100;
		            var totalAmount = (price * Qty) + taxAmount;
		
		            $(`#taxinamount${index}`).val(taxAmount.toFixed(2));
		            $(`#total_amount${index}`).val(totalAmount.toFixed(2));
					
					// Update the overall total amount
					calculateOverallTotal();
		        };
				
				// Function to calculate the overall total amount for all rows
		        function calculateOverallTotal() {
					var overallTotal = 0;
					
				    $('#addrow tr').each(function() {
				        var totalAmount = parseFloat($(this).find('[id^="total_amount"]').val()) || 0;
				        overallTotal += totalAmount;
				    });
				
				    $('#totalAmountField').val(overallTotal.toFixed(2));
					updateNetPayment();
		        }
					
				
			    // Remove row when "Remove" button is clicked
			    $(document).on('click', '.remove_row', function() {
			        var row_id = $(this).attr('id');
			        $(`#row${row_id}`).remove();
					
					calculateOverallTotal();
			    });
			});
		</script>

	<script>
        // Get the current date
        var currentDate = new Date();
        
        // Format the date as desired (e.g., "2024-04-26")
        var formattedDate = currentDate.toISOString().split('T')[0];
        
        // Set the value of the input field to the formatted date
        document.getElementById('currentDateInput').value = formattedDate;
	 </script>
	 <style>
 			.invoice-container {
 				width: 100%;
 				padding: 20px;
 				border: 2px solid #ccc;
 				border-radius: 10px;
 				background-color: #f9f9f9;
 				box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
 				text-align: left;
 				display: flex;
 				flex-direction: row;
 				flex-wrap: wrap;
 				justify-content: space-between;
 			}
 
 			.invoice-field {
 				flex-basis: calc(50% - 10px);
 				margin-bottom: 10px;
 				box-sizing: border-box;
 				padding: 10px;
 				border: 1px solid #ccc;
 				border-radius: 5px;
 			}
 
 			.invoice-label {
 				font-weight: bold;
 			}
 
 			.invoice-value {
 				margin-left: 10px;
 			}
	 		</style>
		
</section>
</body>
<!-- END Body -->

<!-- Mirrored from www.gotbootstrap.com/themes/smartadmin/4.5.1/intel_marketing_dashboard.html by HTTrack Website Copier/3.x [XR&CO'2014], Wed, 05 Apr 2023 07:42:05 GMT -->

</html>