
<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org" th:replace="fragments/base::layout(~{::section})">


<body class="mod-bg-1 mod-nav-link">
	
	<!-- BEGIN Page Wrapper -->
	  <section>
		<style>
	        .heading {
		        background: linear-gradient(45deg, #685099 0%, #595591 60%, #4E5A8B 60%, #37627C 62%, #ffad26 62%, 63%, #d77045 63%, #d77045 64%, #ffad26 64%, #ffad26 65%, #525187 65%, white 80%);
		        border-left: 5px solid #FFC241;
		        color: white;
		        font-weight: bold;
		        padding: 6px 10px 3px 10px;
	    	}
	    </style>
					<div class="contaier-fluid">
						<div th:if="${session.message}">
							<div class="alert alert-primary" role="alert">
								<p th:text="${session.message}"></p>
								<script th:inline="javascript">
									/*<![CDATA[*/
									setTimeout(function () {

										window.location.href = '/a2zbilling/admin/clearSessionAttribute';
									}, 500);

								</script>
							</div>
						</div>
						<div class="container-fluid pb-3" style="background-color:#f1f1f1" th:object="${user}">
							<div class="row heading" style="background-color:rgb(85,75,126);">
								<div class="col-md-12">
									<h1 class="text-center" style="color: white;"><b>Update Profile</b></h1>
								</div>
							</div>
						
							  <form th:action="@{/a2zbilling/admin/updateAdminProfile}" method="post" enctype="multipart/form-data" class="form-group">
									<div class="row">
										<div class="col-md-5 mt-4">
									        <label><b>UserName</b></label>
									    </div>
									    <div class="col-md-7 mt-4">
									        <input type="text" class="form-control" name="username" placeholder="Enter your name" th:field="*{username}">
									    </div>
									</div>
									<div class="row">
										<div class="col-md-5 mt-4">
									        <label><b>Company Name</b></label>
									    </div>
										<div class="col-md-7 mt-4">
									        <input type="text" class="form-control" name="companyname" placeholder="Enter your Company Name">
									    </div>
									</div>
									<div class="row">
							  		  <div class="col-md-5 mt-4">
											<label><b>Email</b></label>
									  </div>
							  		  <div class="col-md-7 mt-4">
							  		  		<input size="50" type="email" id="email" class="form-control" name="email" placeholder="Enter your e-mail" th:field="*{email}">
							  		  </div>
									</div>
									<div class="row">
  										<div class="col-md-5 mt-1">
  
  										</div>
  										<div class="col-md-7 mt-1">
  											<button type="button" class="btn btn-primary" id="generateOTPButton1">Verify
  												Email</button>
  										</div>
  									</div>
									<div class="row" id="sendEmailOTP" style="display: none;">
										<div class="col-md-5 mt-4">
											<label><b>Enter OTP*</b></label>
										</div>
										<div class="col-md-4 mt-4 d-flex align-items-center">
											<input type="text" id="enterOtp" required class="form-control"
												placeholder="Enter your OTP">
										</div>
										<div class="col-md-3 mt-4 d-flex align-items-center">
											<button type="button" class="btn btn-primary text-center"
												id="verification"><b>Verify</b></button>
										</div>
									</div>
									<div class="row">
									  <div class="col-md-5 mt-4">
											<label><b>Mobile</b></label>
									  </div>
							  		  <div class="col-md-7 mt-4">
											<input type="text" id="mobile" pattern="[0-9]{10}" class="form-control" name="mobile" placeholder="Enter your mobile No" th:field="*{mobile}">
							  		  </div>
									</div>
									<div class="row">
									  <div class="col-md-5 mt-4">
  					                      
  					                  </div>
									  <div class="col-md-7 mt-4">
			  								<img id="profileImage" style="height:150px; width: 150px;" th:src="${imagePath}" onerror="this.onerror=null; this.src='/img/admin/admin.jpg';">
			  							</div>
									</div>
									<div class="row">
									  <div class="col-md-5 mt-1">
					                      <label><b>Image</b></label>
					                  </div>
									  <div class="col-md-7 mt-1">
										<input name="imageUrl" class="form-control" id="imageUrl" type="file">
									  </div>
							  		</div>
								<div class="row text-center">
	  								<div class="col-md-12 mt-4">
	  									<button type="submit" id="saveBtn" class="btn btn-success" style="background-color:#1C92EF; color: white; padding: 5px 22px; display: inline-block; font-size: 16px; margin: 4px 2px; cursor: pointer; border-radius: 8px; margin-right: 2%;">Save</button>
	  									<a style="color: white; padding: 5px 22px; display: inline-block; font-size: 16px; margin: 4px 2px; cursor: pointer; border-radius: 8px; margin-right: 2%;" 
	  										th:href="@{'/a2zbilling/admin/viewAdminProfile'}" class="btn btn-info"><b>Cancel</b></a>
	  								</div>
	  							</div>
							  </form>
						</div>
					</div>
	<script>
		let profileImage = document.getElementById("profileImage");
		let inputFile = document.getElementById("imageUrl");		
		inputFile.onchange = function(){
			profileImage.src = URL.createObjectURL(inputFile.files[0]);			}					
	</script>
	
	<!-- for sending OTP when Updating email address -->
	<script th:inline="javascript">
		/*<![CDATA[*/
		var sendOtpUrl = /*[[@{/auth/sendOTPEmail}]]*/'';
		/*]]>*/

		function isValidEmail(email) {
			const emailRegex = /^[\w-\.]+@([\w-]+\.)+[\w-]{2,4}$/;
			return emailRegex.test(email);
		}

		$(document).ready(function () {
			$('#generateOTPButton1').click(function () {
				var email = $('#email').val();
				if (email) {
					if (isValidEmail(email)) {
						$.ajax({
							url: sendOtpUrl,
							type: 'POST',
							data: {email: email},
							success: function (response) {
								if (response == 'Email Present') {
									alert('Email Address Already Used !!!');
								} else {
									alert(response);
									$('#sendEmailOTP').show();
								}
							},
							error: function (error) {
								alert('Failed to send OTP');
							}
						});
					} else {
						alert('Please enter a valid email address.');
					}
				} else {
					alert('Please enter an email address.');
				}
			});
		});
	</script>
	
	<!-- for check an OTP entered is correct or not at the time of update user Email address-->
	<script th:inline="javascript">
		/*<![CDATA[*/
		var checkOtpUrl = /*[[@{/auth/sendOTPForUpdateEmail}]]*/'';
		/*]]>*/

		$(document).ready(function () {
			$('#verification').click(function () {
				var otp = $('#enterOtp').val();
				var email = $('#email').val();
				if (otp) {
					$.ajax({
						url: checkOtpUrl,
						type: 'POST',
						data: {otp: otp,email: email},
						success: function (response) {
							if (response == 'Entered OTP is Wrong') {
								alert('Please Enter Valid OTP');
							} else {
								alert(response);
								$('#sendEmailOTP').hide();
							}
						},
						error: function (error) {
							alert('Failed to verify OTP');
						}
					});
				} else {
					alert('Please Enter OTP');
				}
			});
		});
	</script>
</body>
</section>
</html>