<!DOCTYPE html> <!-- Changes By Mahesh -->
<html lang="en" xmlns:th="https://www.thymeleaf.org" th:replace="fragments/base::layout(~{::section})">

<section>
	<div class="contaier-fluid">
		<div th:if="${session.message}">
			<div class="alert alert-primary" role="alert">
				<p th:text="${session.message}"></p>
				<script th:inline="javascript">
					/*<![CDATA[*/
					setTimeout(function () {

						window.location.href = '/a2zbilling/admin/clearSessionAttribute';
					}, 500);

				</script>
			</div>
		</div>
		<div class="row" style="background-color:rgb(85,75,126);">
			<div class="col-md-12 mt-2">
				<h1 class="text-center" style="color: white;"><b>UPDATE TRANSACTION</b></h1>
			</div>
		</div>
		<form th:action="@{'/a2zbilling/admin/parties/list'}" enctype="multipart/form-data" class="form-group">
			<div class="row pb-3" style="background-color:#f5f0f0;">
				<div class="col-md-4">
					<input type="hidden" name="id" />
					<div class="form-group mt-4">
						<label><b>Name*</b></label>
						<input required type="text" class="form-control" name="name">
					</div>
				</div>
				<div class="col-md-4 mt-4">
					<div class="form-group">
						<label><b>Email*</b></label>
						<input required type="email" class="form-control" name="email">
					</div>
				</div>
				<div class="col-md-4 mt-4">
					<div class="form-group">
						<label><b>Mobile*</b></label>
						<input required type="number" class="form-control" name="mobile" id="mobile">
						<small id="mobileErrorMessage" class="text-danger"></small>
					</div>
				</div>
				<div class="col-md-4 mt-2">
					<div class="form-group">
						<label><b>Address*</b></label>
						<textarea required type="text" class="form-control" name="address"></textarea>
					</div>
				</div>
				<div class="col-md-12 mt-2">
					<div class="text-center">
						<button type="submit" style="color: white; padding: 5px 22px; display: inline-block; font-size: 14px; margin: 3px 2px; cursor: pointer; border-radius: 8px;"
							class="btn btn-info text-center">Update</button>
						<a th:href="@{'/a2zbilling/admin/parties/transactions/list'}" style="color: white; padding: 5px 22px; display: inline-block; font-size: 14px; margin: 3px 2px; cursor: pointer; border-radius: 8px;" class="btn btn-info">Cancel</a>
					</div>
				</div>
			</div>
		</form>
	</div>
</section>
</body>

</html>