<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org" th:replace="fragments/base::layout(~{::section})">
<!-- <div th:replace="fragments/head :: head"></div> -->

<body class="mod-bg-1 mod-nav-link">
	<script>

		'use strict';

		var classHolder = document.getElementsByTagName("BODY")[0],
			/** 
			 * Load from localstorage
			 **/
			themeSettings = (localStorage.getItem('themeSettings')) ? JSON.parse(localStorage.getItem('themeSettings')) :
				{},
			themeURL = themeSettings.themeURL || '',
			themeOptions = themeSettings.themeOptions || '';
		/** 
		 * Load theme options
		 **/
		if (themeSettings.themeOptions) {
			classHolder.className = themeSettings.themeOptions;
			console.log("%c✔ Theme settings loaded", "color: #148f32");
		}
		else {
			console.log("%c✔ Heads up! Theme settings is empty or does not exist, loading default settings...", "color: #ed1c24");
		}
		if (themeSettings.themeURL && !document.getElementById('mytheme')) {
			var cssfile = document.createElement('link');
			cssfile.id = 'mytheme';
			cssfile.rel = 'stylesheet';
			cssfile.href = themeURL;
			document.getElementsByTagName('head')[0].appendChild(cssfile);

		}
		else if (themeSettings.themeURL && document.getElementById('mytheme')) {
			document.getElementById('mytheme').href = themeSettings.themeURL;
		}
		/** 
		 * Save to localstorage 
		 **/
		var saveSettings = function () {
			themeSettings.themeOptions = String(classHolder.className).split(/[^\w-]+/).filter(function (item) {
				return /^(nav|header|footer|mod|display)-/i.test(item);
			}).join(' ');
			if (document.getElementById('mytheme')) {
				themeSettings.themeURL = document.getElementById('mytheme').getAttribute("href");
			};
			localStorage.setItem('themeSettings', JSON.stringify(themeSettings));
		}
		/** 
		 * Reset settings
		 **/
		var resetSettings = function () {
			localStorage.setItem("themeSettings", "");
		}

	</script>
	<!-- BEGIN Page Wrapper -->
	
			<!-- BEGIN Left Aside -->
			<!-- <div th:replace="fragments/sidebar :: sidebar"></div> -->
			<!-- END Left Aside -->
			
				<!-- BEGIN Page Header -->
				<!-- <div th:replace="fragments/header ::header"></div> -->
				<!-- END Page Header -->
				<!-- BEGIN Page Content -->
				<!-- the #js-page-content id is needed for some plugins to initialize -->

				
				
				<section>
					<div class="contaier-fluid">
						<div th:if="${session.message}">
							<div class="alert alert-primary" role="alert">
								<p th:text="${session.message}"></p>
								<script th:inline="javascript">
									/*<![CDATA[*/
									setTimeout(function () {

										window.location.href = '/a2zbilling/admin/clearSessionAttribute';
									}, 500);

								</script>
							</div>
						</div>
						<div class="row" style="background-color:rgb(85,75,126);">
							<div class="col-md-12 mt-2">
								<h1 class="text-center" style="color: white;"><b>Admin Profile</b></h1>
							</div>
						</div>

						<div class="row mt-4" style="background-color:rgb(231,252,227);" th:object="${user}">
							<div class="col-md-6 mt-2">
								<div class="form-group mt-6">
									<h2>
										<b><span th:text="${companyName}"></span></b>
									</h2>
								</div>
							</div>
							
							<div class="col-md-6 text-center">
								<img  style="height:150px; width: 150px; margin-left: 200px;" th:src="${imagePath}">
							</div>
							
						</div>
						

						<div class="container mt-6 pb-3" style="background-color:rgb(231,252,227);" th:object="${user}">
							
							<div class="row">
								<input type="hidden" name="id" th:field="*{id}">
								<div class="col-md-4 mt-4">
									<label><b>Name :- </b></label>
									<input class="form-control" name="name" readonly th:field="*{username}">
								</div>
								<div class="col-md-4 mt-4">
									<label><b>Mobile :- </b></label>
									<input class="form-control" name="mobile" readonly th:field="*{mobile}">
								</div>
								<div class="col-md-4 mt-4">
									<label><b>Email :- </b></label>
									<input class="form-control" name="email" readonly th:field="*{email}">
								</div>
							</div>
					
							<div class="row">
								<div class="col-md-4 mt-4">
									<label><b>Role :- </b></label>
									<input class="form-control" name="role" readonly th:field="*{role}">
								</div>
							</div>
							
							<div class="row text-center">
								<div class="col-md-12 mt-4">
									<a style="color: white; padding: 5px 22px; display: inline-block; font-size: 16px; margin: 4px 2px; cursor: pointer; border-radius: 8px; margin-right: 2%;" 
										th:href="@{'/a2zbilling/admin/updateAdminProfile'}" class="btn btn-info"><b>Update</b></a>
									<a style="color: white; padding: 5px 22px; display: inline-block; font-size: 16px; margin: 4px 2px; cursor: pointer; border-radius: 8px; margin-right: 2%;" 
										th:href="@{'/a2zbilling/admin/'}" class="btn btn-info"><b>Cancel</b></a>
								</div>
							</div>
						</div>
					</div>
					
					</section>

				
				
</body>
<!-- END Body -->

<!-- Mirrored from www.gotbootstrap.com/themes/smartadmin/4.5.1/intel_marketing_dashboard.html by HTTrack Website Copier/3.x [XR&CO'2014], Wed, 05 Apr 2023 07:42:05 GMT -->

</html>