<div th:fragment="header">
	<header class="page-header" role="banner">
		<div class="ml-auto d-flex">
			<div>
				<a href="#" data-toggle="dropdown" title="drlantern@gotbootstrap.com"
					class="header-icon d-flex align-items-center justify-content-center ml-2">
					<img th:src="${imagePath}" class="profile-image rounded-circle" alt="admin">
					<!-- you can also add username next to the avatar with the codes below:
									<span class="ml-1 mr-1 text-truncate text-truncate-header hidden-xs-down">Me</span>
									<i class="ni ni-chevron-down hidden-xs-down"></i> -->
				</a>
				<div class="dropdown-menu dropdown-menu-animated dropdown-lg">
					<div class="dropdown-header bg-trans-gradient d-flex flex-row py-4 rounded-top">
						<div class="d-flex flex-row align-items-center mt-1 mb-1 color-white">
							<span class="mr-2">
								<img th:src="${imagePath}" class="rounded-circle profile-image" alt="Dr. Codex Lantern">
							</span>
							<div class="info-card-text">
								<div class="fs-lg text-truncate text-truncate-lg"><span th:text="${username}"></span>
								</div>
								<span class="text-truncate text-truncate-md opacity-80"></span>
							</div>
						</div>
					</div>
					<div class="dropdown-divider m-0"></div>
					<a th:href="@{'/a2zbilling/admin/viewAdminProfile'}" class="dropdown-item">
						<span data-i18n="drpdwn.reset_layout">View Profile</span>
					</a>
					<div class="dropdown-divider m-0"></div>
					<a class="dropdown-item fw-500 pt-3 pb-3" href="/logout">
						<span data-i18n="drpdwn.page-logout">Logout</span>
						<span class="float-right fw-n">admin@gmail.com</span>
					</a>
				</div>
			</div>
		</div>
	</header>

</div>