<aside class="page-sidebar" th:fragment="sidebar">
	<div class="page-logo">
		<!-- Modal -->
		<a href="#" class="page-logo-link press-scale-down d-flex align-items-center position-relative"
			data-toggle="modal" data-target="#modal-shortcut">
			
			<img th:src="${companyLogo}" alt="SmartAdmin WebApp" aria-roledescription="logo">
		
			<div th:if="${companyName != null}">
				<span class="page-logo-text mr-1" style="font-size:20px; margin-left:15px; margin-top:5px; font-weight:bold" th:text="${companyName}"></span>
			</div>
			<div th:if="${companyName == null}">
				<span class="page-logo-text mr-1" style="font-size:20px" >A2Z Billing</span>
			</div>
			<span class="position-absolute text-white opacity-50 small pos-top pos-right mr-2 mt-n2"></span>
			
		</a>
	</div>
	<!-- BEGIN PRIMARY NAVIGATION -->
	<nav id="js-primary-nav" class="primary-nav" role="navigation">
		<div class="nav-filter">
			<div class="position-relative">
				<input type="text" id="nav_filter_input" placeholder="Filter menu" class="form-control" tabindex="0">
				<a href="#" onclick="return false;" class="btn-primary btn-search-close js-waves-off"
					data-action="toggle" data-class="list-filter-active" data-target=".page-sidebar">
					<i class="fal fa-chevron-up"></i>
				</a>
			</div>
		</div>
		
		<ul id="js-nav-menu" class="nav-menu">
			<li class="active open">
				<a th:href="@{/a2zbilling/admin/}" title="Dashboard" data-filter-tags="dashboard">
					<i class="fa fa-tachometer" aria-hidden="true"></i>
					<span class="nav-link-text" data-i18n="nav.application_intel">DASHBOARD</span>
				</a>
			</li>
			<li>
				<a href="#" title="Products, Category, Brand" data-filter-tags="theme product">
					<i class="fa-brands fa-product-hunt"></i>
					<span class="nav-link-text" data-i18n="nav.theme_settings">PRODUCTS</span>
				</a>
				<ul>
	
					<li>
						<a th:href="@{/a2zbilling/admin/product/add}" title="Add Product"
							data-filter-tags="theme create product">
							<span class="nav-link-text" data-i18n="nav.theme_settings_layout_options">ADD PRODUCT</span>
						</a>
					</li>
					<li>
					
						<a th:href="@{/a2zbilling/admin/product/list}" title="Product List"
							data-filter-tags="theme products">
							<span class="nav-link-text" data-i18n="nav.theme_settings_how_it_works">ALL PRODUCTS</span>
						</a>
					</li>
					<li>
						<a href="" title="Add Category" data-filter-tags="theme category" data-toggle="modal"
							data-target="#exampleModalCategory">
							<span class="nav-link-text" data-i18n="nav.theme_settings_theme_modes_(beta)">ADD
								CATEGORY</span>
						</a>
					</li>
					<li>
						<a th:href="@{/a2zbilling/admin/category/list}" title="Category List"
							data-filter-tags="theme sub category">
							<span class="nav-link-text" data-i18n="nav.theme_settings_saving_to_database">ALL
								CATEGORIES</span>
						</a>
					</li>
					<li>
						<a th:href="@{/a2zbilling/admin/brand/list}" title="Add Brand" data-filter-tags="theme brands">
							<span class="nav-link-text" data-i18n="nav.theme_settings_skin_options">BRANDS</span>
						</a>
					</li>
					<li>
						<a href="settings_saving_db.html" title="Print Barcode"
							data-filter-tags="theme print barcode">
							<span class="nav-link-text" data-i18n="nav.theme_settings_saving_to_database">PRINT
								BARCODE</span>
						</a>
					</li>
					<li>
						<a href="#" title="Import Products" data-filter-tags="theme import products">
							<span class="nav-link-text" data-i18n="nav.theme_settings_saving_to_database">IMPORT
								PRODUCTS</span>
						</a>
					</li>
				</ul>
			</li>
			<li>
				<a href="#" title="Create Sales Bill" data-filter-tags="sales">
					<i class="fal fa-book"></i>
					<span class="nav-link-text" data-i18n="nav.documentation">SALES</span>
				</a>
				<ul>
					<li>
						<a th:href="@{/a2zbilling/admin/sales/list}" title="Create Sales Bill" data-filter-tags="sales">
							<span class="nav-link-text" data-i18n="nav.documentation_general_docs">SALES</span>
						</a>
					</li>
					<li>
						<a href="#" title="Project Structure" data-filter-tags="sales invoices">
							<span class="nav-link-text" data-i18n="nav.documentation_project_structure">INVOICES</span>
						</a>
					</li>
					<li>
						<a href="#" title="Flavors & Editions" data-filter-tags="documentation sales return">
							<span class="nav-link-text" data-i18n="nav.documentation_flavors_&_editions">SALES
								RETURN</span>
						</a>
					</li>
					<li>
						<a href="#" title="Quatation" data-filter-tags="documentation quotation">
							<span class="nav-link-text" data-i18n="nav.documentation_community_support">QUATATION</span>
						</a>
					</li>
					<li>
						<a href="#" title="Premium Support" data-filter-tags="documentation premium support">
							<span class="nav-link-text" data-i18n="nav.documentation_premium_support">POS</span>
						</a>
					</li>
					<li>
						<a href="#" title="Return" data-filter-tags="sales return">
							<span class="nav-link-text" data-i18n="nav.documentation_licensing	">RETURN</span>
						</a>
						<ul>
							<li>
								<a href="#" title="Sales Return" data-filter-tags="sales sales return">
									<span class="nav-link-text" data-i18n="nav.documentation_licensing">SALES
										RETURN</span>
								</a>
							</li>
							<li>
								<a href="#" title="Purchase Return" data-filter-tags="sales purchase return">
									<span class="nav-link-text" data-i18n="nav.documentation_licensing">PURCHASE
										RETURN</span>
								</a>
							</li>
						</ul>
					</li>
					<li>
						<a href="#" title="Transfer" data-filter-tags="sales build notes">
							<span class="nav-link-text" data-i18n="nav.documentation_build_notes">TRANSFER</span>

						</a>
						<ul>
							<li>
								<a href="#" title="Transfer list" data-filter-tags="sales transfer list">
									<span class="nav-link-text" data-i18n="nav.documentation_licensing">TRANSFER
										LIST</span>
								</a>
							</li>
							<li>
								<a href="#" title="transfer list" data-filter-tags="sales transfer list">
									<span class="nav-link-text" data-i18n="nav.documentation_licensing">IMPORT
										TRANSFER</span>
								</a>
							</li>
						</ul>
					</li>
				</ul>
			</li>
			<!--Create By Mahesh-->
			<li>
				<a th:href="@{/a2zbilling/admin/parties/list}" title="Add Party, Party Transection" data-filter-tags="parties">
					<i class="fa-solid fa-user-group"></i>
					<span class="nav-link-text" data-i18n="nav.theme_settings">SUPPLIER</span>
				</a>
			</li>
			<!--<li>
				<a href="#" title="Add Item" data-filter-tags="purchase">
					<i class="fa-solid fa-sitemap"></i>
					<span class="nav-link-text" data-i18n="nav.theme_settings">ITEM</span>
				</a>
				<ul>
					<li>
						<a th:href="@{/a2zbilling/admin/Item/add}" title="Add Item" data-filter-tags="item item add">
							<span class="nav-link-text" data-i18n="nav.theme_settings_how_it_works">ADD ITEM</span>
						</a>
					</li>
					<li>
						<a href="#" title="How it works" data-filter-tags="theme all item">
							<span class="nav-link-text" data-i18n="nav.theme_settings_how_it_works">ALL ITEM</span>
						</a>
					</li>

				</ul>
			</li>-->
			<li>
				<a href="#" title="Create Purchase Bill" data-filter-tags="purchase">
					<i class="fa fa-shopping-cart"></i>
					<span class="nav-link-text" data-i18n="nav.theme_settings">PURCHASE</span>
				</a>
				<ul>
					<li>
						<a th:href="@{/a2zbilling/admin/purchasebill/transection}" title="Create Purchase Bill">
							 <span class="nav-link-text"
							data-i18n="nav.theme_settings_how_it_works">PURCHASE BILL</span>
						</a>
					</li>
					<li>
					
						<a href="#" title="Import purchase" data-filter-tags="theme import purchase">
							<span class="nav-link-text" data-i18n="nav.theme_settings_how_it_works">IMPORT
								PURCHASE</span>
						</a>
					</li>
					<li>
						<a th:href="@{/a2zbilling/admin/purchaseorder/add}" title="Create Purchase order" data-filter-tags="theme purchase order">
							<span class="nav-link-text" data-i18n="nav.theme_settings_layout_options">PURCHASE
								ORDER</span>
						</a>
					</li>
					<li>
						<a th:href="@{/a2zbilling/admin/purchasereturn/transection}" title="Create Purchase return" data-filter-tags="theme purchase return">
							<span class="nav-link-text" data-i18n="nav.theme_settings_theme_modes_(beta)">PURCHASE
								RETURN</span>
						</a>
					</li>

				</ul>
			</li>

			<li>
				<a href="#" title="CASH & ACCOUNTS" data-filter-tags="theme ">
					<i class="fa-solid fa-building-columns"></i>
					<span class="nav-link-text" data-i18n="nav.theme_settings">CASH & ACCOUNTS</span>
				</a>
				<ul>
					<li>
						<a th:href="@{/a2zbilling/admin/cashPaymentList}" title="Cash In Hand" data-filter-tags="theme expenses">
							<span class="nav-link-text" data-i18n="nav.theme_settings_layout_options">CASH IN HAND</span>
						</a>
					</li>
					<li>
						<a th:href="@{/a2zbilling/admin/chequePaymentList}" title="Cheque Payment" data-filter-tags="theme expense category">
							<span class="nav-link-text" data-i18n="nav.theme_settings_theme_modes_(beta)">CHEQUE PAYMENT</span>
						</a>
					</li>
					<li>
						<a th:href="@{/a2zbilling/admin/onlinePaymentList}" title="Online Payments	" data-filter-tags="theme expenses">
							<span class="nav-link-text" data-i18n="nav.theme_settings_layout_options">ONLINE PAYMENT</span>
						</a>
					</li>
				</ul>
			</li>
			<li>
				<a href="#" title="Manage Stock" data-filter-tags="stock ">
					<i class="fa-solid fa-arrow-trend-up"></i>
					<span class="nav-link-text" data-i18n="nav.theme_settings">STOCK</span>
				</a>
				<ul>
					<li>
						<a th:href="@{/a2zbilling/admin/managestock}" title="Manage Stock"
							data-filter-tags="stock manage">
							<span class="nav-link-text" data-i18n="nav.theme_settings_how_it_works">MANAGE STOCK</span>
						</a>
					<li>
						<a href="#" title="Stock Adjustment" data-filter-tags="stock adjustment">
							<span class="nav-link-text" data-i18n="nav.theme_settings_layout_options">STOCK
								ADJUSTMENT</span>
						</a>
					</li>
					<li>
						<a href="#" title="Stock Transfer" data-filter-tags="stock transfer">
							<span class="nav-link-text" data-i18n="nav.theme_settings_theme_modes_(beta)">STOCK
								TRANSFER</span>
						</a>
					</li>
				</ul>
			</li>
			<li>
				<a href="#" title="Add Customer / Supplier" data-filter-tags="peoples">
					<i class="fa-solid fa-person"></i>
					<span class="nav-link-text" data-i18n="nav.theme_settings">PEOPLES</span>
				</a>
				<ul>
					<li>
						<a href="#" title="Add Customers" data-filter-tags="peoples customer">
							<span class="nav-link-text" data-i18n="nav.theme_settings_how_it_works">CUSTOMERS</span>
						</a>
						<ul>
							<li>
								<a th:href="@{/a2zbilling/admin/customer/add}" title="Add Customer"
									data-filter-tags="peoples customer">
									<span class="nav-link-text" data-i18n="nav.theme_settings_layout_options">ADD
										CUSTOMERS</span>
								</a>
							</li>
							<li>
								<a th:href="@{/a2zbilling/admin/customer/list}" title="All Customer List"
									data-filter-tags="peoples customer">
									<span class="nav-link-text" data-i18n="nav.theme_settings_layout_options">ALL
										CUSTOMERS</span>
								</a>
							</li>
						</ul>
					</li>
					<!--<li>
						<a href="#" title="Supplier" data-filter-tags="peoples suppliers">
							<span class="nav-link-text" data-i18n="nav.theme_settings_layout_options">SUPPLIERS</span>
						</a>
						<ul>
							<li>
								<a th:href="@{/a2zbilling/admin/supplier/add}" title="Add Supplier"
									data-filter-tags="peoples suppliers">
									<span class="nav-link-text" data-i18n="nav.theme_settings_layout_options">NEW
										SUPPLIER</span>
								</a>
							</li>
							<li>
								<a th:href="@{/a2zbilling/admin/supplier/list}" title="Supplier List"
									data-filter-tags="peoples customer">
									<span class="nav-link-text" data-i18n="nav.theme_settings_layout_options">ALL
										SUPPLIERS</span>
								</a>
							</li>
						</ul>
					</li>-->
					<li>
						<a href="#" title="Store" data-filter-tags="peoples stores">
							<span class="nav-link-text" data-i18n="nav.theme_settings_theme_modes_(beta)">STORES</span>
						</a>
					</li>
					<li>
						<a href="#" title="Warehouse" data-filter-tags="peoples warehouses">
							<span class="nav-link-text"
								data-i18n="nav.theme_settings_theme_modes_(beta)">WAREHOUSES</span>
						</a>
					</li>
				</ul>
			</li>
			<li>
				<a href="#" title="Add Unit, Charges, Gst" data-filter-tags="master">
					<i class="fa-solid fa-scale-balanced"></i>
					<span class="nav-link-text" data-i18n="nav.theme_settings">MASTER</span>
				</a>
				<ul>
					<li>
						<a href="#" title="Add Unit" data-filter-tags="master units" data-toggle="modal"
							data-target="#exampleModalUnits">
							<span class="nav-link-text" data-i18n="nav.theme_settings_how_it_works">ADD UNITS</span>
						</a>
					</li>
					<li>
						<a href="#" title="Add GST" data-filter-tags="master gst" data-toggle="modal"
							data-target="#exampleModalForGST">
							<span class="nav-link-text" data-i18n="nav.theme_settings_layout_options">ADD GST</span>
						</a>
					</li>
					<li>
					    <a href="#" title="Add Charges" data-filter-tags="master charges" data-toggle="modal"
					       data-target="#exampleModalForCharges">
					        <span class="nav-link-text" data-i18n="nav.theme_settings_how_it_works">ADD CHARGES</span>
					    </a>
					</li>
				</ul>
				<div class="filter-message js-filter-message bg-success-600"></div>
			</li>
			
			<li>
			<a href="#" title="Reports" data-filter-tags="REPORTS">
					<i class="fa-solid fa-receipt"></i>
					<span class="nav-link-text" data-i18n="nav.theme_settings">REPORTS</span>
				</a>
				<ul>
				<li>
				
						<a th:href="@{/a2zbilling/admin/purchaseReport}" title="Purchase Report" data-filter-tags="purchase report">
							<span class="nav-link-text" data-i18n="nav.theme_settings_theme_modes_(beta)">PURCHASE REPORT</span>
						</a>
					</li>
					
					<li>
						<a th:href="@{/a2zbilling/admin/salesReport}" title="Sales Report" data-filter-tags="sales report">
							<span class="nav-link-text" data-i18n="nav.theme_settings_theme_modes_(beta)">SALES REPORT</span>
						</a>
					</li>
					
					<li>
						<a href="#" title="Tax Report" data-filter-tags="tax report">
							<span class="nav-link-text" data-i18n="nav.theme_settings_theme_modes_(beta)">TAX REPORT</span>
						</a>
						<ul>
							<li>
								<a th:href="@{/a2zbilling/admin/purchaseTaxReport}" title="Purchase Tax Report"
									data-filter-tags="sales tax report">
									<span class="nav-link-text" data-i18n="nav.theme_settings_layout_options">PURCHASE TAX REPORT</span>
								</a>
							</li>
							<li>
								<a th:href="@{/a2zbilling/admin/salesTaxReport}" title="Sales Tax Report"
									data-filter-tags="peoples customer">
									<span class="nav-link-text" data-i18n="nav.theme_settings_layout_options">SALES TAX REPORT</span>
								</a>
							</li>
						</ul>
					</li>
					
					<li>
						<a href="#" title="Profit & Loss Report" data-filter-tags="profit & loss report">
							<span class="nav-link-text" data-i18n="nav.theme_settings_theme_modes_(beta)">PROFIT & LOSS REPORT</span>
						</a>
					</li>
				</ul>
			</li>
			
			
	</nav>
	<!-- END PRIMARY NAVIGATION -->
</aside>

<!-- Button trigger modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
	aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header align-items-center">
				<h1 class="modal-title" id="exampleModalLabel">EDIT FIRM</h1>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<form th:action="@{/a2zbilling/admin/firm/edit}" method="post" enctype="multipart/form-data"
					th:object="${company}" class="form-group"> 
					<div class="row">
						<div class="col-md-12">
							<input type="hidden" class="form-control" name="name" th:field="*{id}">
							<div class="form-group">
								<label>Firm Name</label>
								<input type="text" class="form-control" name="name" th:field="*{name}">
							</div>
						</div>
						<div class="col-md-12">
							<div class="form-group">
								<label>email</label>
								<input type="text" class="form-control" name="email">
							</div>
						</div>
						<div class="col-md-12">
							<div class="form-group">
								<label>Mobile</label>
								<input type="text" class="form-control" name="mobile">
							</div>
						</div>
						<div class="col-md-12">
							<div class="form-group">
								<label>Address</label>
								<input type="text" class="form-control" name="address">
							</div>
						</div>
						<div class="col-md-12">
							<div class="form-group">
								<label>Description</label>
								<input type="text" class="form-control" name="description">
							</div>
						</div>
						<div class="col-md-12">
							<div class="form-group">
								<label>Firm logo</label>
								<input type="file" class="form-control" name="imageFile">
							</div>
						</div>
						<d0iv class="col-md-12">
							<div class="form-group">
								<label>Upload Signature</label>
								<input type="file" class="form-control" name="signatureImage">
							</div>
						</d0iv>
						<div class="col-md-12 mt-2">
							<div class="text-center">
								<button type="submit" class="btn btn-info text-center">ADD</button>
							</div>
						</div>
					</div>
				</form>
			</div>
		</div>
		<!--    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div> -->
	</div>
</div>